<footer class="py-20 bg-_main_color_light -mt-[8rem]">
  <section class=" text-white flex flex-col justify-center items-center gap-6 py-8 ">
    <h2 class="title">Devenir Partenaire</h2>
    <p class="text-center ">Inscrivez vous à la newsletter et soyez au courant de l’actualité de votre marque préférée
    </p>
    <form
      action="#"
      method="post"
      class="flex gap-4 max-w-[40rem] w-full px-4 ">
      <input
        type="text"
        placeholder="Votre adresse e-mail"
        id="input-contact"
        name="email"
        class="w-100 bg-transparent border border-white ps-2 h-10 w-full rounded-[5px]">
      <button type="submit" class="py-2 px-4 bg-_red_color rounded-md"><img src="{{ 'send-white.svg' |asset_url }}" alt=""></button>
    </form>
  </section>
</footer>