<section class="faq mt-12 mb-4 desktop-width">
  <h2 class="title mb-8">F.A.Q</h2>
  <div id="faq-links" class="menu-list flex items-center flex-wrap justify-center gap-2 text-white">
    <a href="#qa_fabrication" class="faq-link active screen300:w-[11.5rem]">GARANTIE /QUALITE</a>
    <a href="#qa_formulation" class="faq-link screen300:w-[11.5rem]">INGREDIENTS</a>
    <a href="#qa_usage" class="faq-link screen300:w-[11.5rem]">UTILISATION</a>
    <a href="#qa_localisation" class="faq-link screen300:w-[11.5rem]">NOUS TROUVER</a>
  </div>
  <div class="questions-content">
    <div id="qa_fabrication" class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Où sont fabriqués vos produits ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Tous nos produits sont fabriqués en France.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Comment garantissez-vous la qualité de vos produits ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Pour nos boissons et nos snacks, nous collaborons avec des producteurs français et dans une démarche écoresponsable, pour obtenir des ingrédients à plus forte valeur nutritive et produits dans le respect de l’environnement. 
            Pour la fabrication de nos produits, nous travaillons avec des partenaires, respectant les normes HACCP, normes d’hygiène et de sécurité exigeantes afin de garantir la qualité de fabrication et l’hygiène de nos produits.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Vos boissons sont-elles vraiment efficaces ?</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Pour la fabrication de nos boissons, nous utilisons du CBD en hydrosoluble, pour garantir une forte concentration de CBD sans destruction du principe actif lors de la fabrication. Résultat, nos boissons ont de réels effets bénéfiques !
          </p>
        </div>
      </div>
    </div>
    <div id="qa_formulation" class="accordions hidden text-_main_color_dark flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>En quoi vos boissons sont-elles adaptées aux besoins des sportifs ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Nos boissons contiennent du CBD, une molécule utilisée par de nombreux athlètes (MMA, NBA pour le basketball, NFL pour le football américain) et reconnue pour ses propriétés anti-inflammatoire, myorelaxante et pour la récupération. Grâce à cette molécule présente dans nos boissons, tes muscles seront détendus, ta récupération musculaire sera plus rapide et les douleurs liées à un entrainement intensif seront sensiblement réduites (idéal pour soulager les crampes et courbatures).
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Vos boissons sont-elles adaptées aux femmes enceintes ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD sont déconseillées aux femmes enceintes ou qui allaitent
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Mon enfant peut-il consommer vos boissons aux CBD ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons aux CBD ne sont malheureusement pas autorisées aux mineurs. Toutefois de nouvelles boissons, sans CBD, arriveront prochainement.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que je serai contrôlé positif en cas de contrôle de police ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nous utilisons du CBD isolate pour nos boissons afin de garantir un taux de 0,00% de THC. Comme nos boissons ne contiennent pas de THC, il n’y a aucun risque de positivité lors d’un contrôle
          </p>
        </div>
      </div>

      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos boissons sont-elles naturelles ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD sont fabriquées à base d’eau pétillante des montagnes françaises et les arômes sont entièrement naturels
          </p>
        </div>
      </div>

      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos billes chocolatées conviennent-elles pour un régime alimentaire équilibré ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Nos billes chocolatées sont saines, le cœur de nos billes est en lentille corail et riz complet et elles sont enrobées d’un chocolat de haute qualité. Nous évitons la transformation des produits pour conserver la qualité premium de nos ingrédients
          </p>
        </div>
      </div>

      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos billes soufflées au chocolat sont-elles adaptées à un régime sans gluten ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Nous avons fait le choix de fabriquer le cœur de nos billes chocolatées en riz complet et en lentille corail au lieu du malt. Grâce à cela, nos billes ne contiennent pas de Gluten et sont adaptées pour un régime sans gluten
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos billes chocolatées conviennent-elles pour les sportifs ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Nos billes chocolatées sont hyper protéinées, riche en fibre et pauvre en sucre. Elles sont donc idéales pour les sportifs. 
            C’est une alternative idéale si tu cherches un encas sain et que tu ne veux pas consommer de protéine en poudre …

          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos boissons sont-elles compatibles avec une pratique sportive en compétition ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Le CBD contenus dans nos boissons n’est pas considéré comme un produit dopant. Il a d’ailleurs été retiré de la liste des produits dopant de l’OMS (organisation mondiale de la santé) et de nombreux sportifs de haut niveau, dans toute les disciplines l’utilisent déjà (NBA, NFL, MMA, Cyclisme..).
          </p>
        </div>
      </div>
    </div>
    <div id="qa_usage" class="accordions hidden text-_main_color_dark flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Peut-on mélanger le CBD avec de l’alcool ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD peuvent très bien se mélanger avec de l’alcool et nous rappelons que la consommation d’alcool doit être faite avec modération
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Combien de boisson au CBD, je peux consommer par jour ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nous te conseillons d’espacer ta consommation à raison d'une canette toutes les 4 heures
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold w-full flex justify-between">
          <span>Quels sont les effets du CBD ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>La molécule de CBD a des bienfaits myorelaxants, elle permet la détente musculaire. Elle agit aussi pour une meilleure récupération musculaire, contre le stress et l’anxiété, et c’est un anti-douleur naturel.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos boissons conviennent-elles aux personnes diabétiques ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD conviennent parfaitement aux personnes diabétiques, nous utilisons le même édulcorant que la plupart des aliments dédiés aux diabétiques</p>
        </div>
      </div>

      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Vos billes chocolatées conviennent-elles aux personnes diabétiques ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos billes chocolatées contiennent du sucre même si nous limitons fortement la quantité par rapport aux produits équivalents existants sur le marché. SI tu es diabétique, nous vous conseillons de vous rapprocher de votre médecin traitant avant de consommer nos billes chocolatées.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Ma grand-mère peut-elle boire vos boissons au CBD pour l’aider à s’endormir ?

          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD peuvent aider à l’endormissement et contribue à apaiser les muscles et l’esprit (anxiété, stress…), ta grand-mère peut prendre une boisson une demi-heure avant le coucher, cela va favoriser l’aide à l’endormissement.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que vos boissons peuvent m’aider à m’endormir ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD sont un soutien au sommeil, elles favorisent l’aide à l’endormissement et jouent un rôle de récupération pendant la nuit avec une sensation d’être en meilleure forme au lever
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que vos boissons aident à réduire les douleurs liées aux crampes ou aux courbatures ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons CBD contribue à réduire les douleurs liées aux crampes et aux courbatures, car la molécule de CBD agit comme un anti-inflammatoire
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que vos sodas aux CBD peuvent m’aider contre mon anxiété ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Oui, complètement, le CBD agit efficacement contre le stress et l’anxiété. Toutefois, ce n’est pas un médicament. Si les symptômes persistent, nous t’invitons à consulter ton médecin traitant.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Quel est le meilleur moment de la journée pour consommer vos sodas au CBD ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Nos boissons CBD peuvent être consommées à tout moment de la journée. Due à leur propriété relaxante, nous te recommandons de les consommer plutôt l’après midi ou en fin de journée.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que vos boissons ont un effet énergisant ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos boissons au CBD contribue à un sommeil récupérateur afin que tu te réveilles avec le plein d’énergie. Nos boissons existent justement pour que tu n’aies plus besoin de consommer des boissons énergisantes.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Peut-on boire votre boisson au CBD avant une séance de sport ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Notre boisson révèle son plein potentiel après la séance de sport, lorsque ton corps est fatigué, que tes muscles sont lourds, contractés ou douloureux, car elle va détendre tes muscles et contribuer à accélérer ta récupération. Il n’y a cependant pas de contre-indication pour la consommer avant la séance, tu seras juste… Très détendu !
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>J’ai des problèmes cardiaques, est-ce que vos boissons aux CBD présentent des risques pour moi ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Il n’existe pas de contre-indication quant à la consommation de CBD pour les personnes présentant des problèmes cardiaques. Toutefois, l’avis d’un médecin reste vivement recommandé avant de consommer nos boissons.
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Si je conduis, est-ce que vos boissons aux CBD risque de provoquer des effets de somnolence ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            Si tu conduis et que tu es en plus fatigué, nous te déconseillons de boire notre boisson au CBD, car elle pourrait provoquer des effets de somnolence
          </p>
        </div>
      </div>
      <!---->
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
        <button
          type="button"
          id="btn-accordion"
          class=" text-start px-4 font-bold w-full flex justify-between">
          <span>Est-ce que je peux boire une canette de CBD si j’ai pris des médicaments ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>
            La consommation de CBD n’est pas incompatible avec la prise de médicament. Toutefois, nous vous recommandons fortement de consulter votre médecin traitant pour avoir un véritable avis médical avant de consommer nos boissons
          </p>
        </div>
      </div>
    </div>
    <div id="qa_localisation" class="accordions hidden text-_main_color_dark  flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Où peut-on acheter vos canettes en magasin ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Si tu souhaites acheter nos boissons et snacks en magasin, tu trouveras la boutique la plus proche de chez toi en suivant ce lien : (lien URL)
          </p>
        </div>
      </div>

    </div>
  </div>
</section>