<section class="faq mt-12 mb-4 desktop-width">
    <h2 class="title mb-8">F.A.Q</h2>
    <div id="faq-links" class="menu-list flex items-center flex-wrap justify-center gap-2 text-white">
        <a href="#commande-livraison" class="faq-link active screen300:w-[9rem]">Commande & Livraison</a>
        <a href="#nos-produits" class="faq-link screen300:w-[9rem]">Nos produits</a>
        <a href="#sante-nutrition" class="faq-link screen300:w-[9rem]">Santé & Nutrition</a>
        <a href="#ambassadeurs" class="faq-link screen300:w-[9rem]">Ambassadeurs</a>
    </div>
    <div class="questions-content">
        <div id="commande-livraison" class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold flex justify-between w-full">
                    <span>Comment modifier ma commande ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Je me suis trompé d’adresse de livraison  </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Il me manque un produit dans ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div> 
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span >Je n’ai pas reçu ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span>Où est ma commande ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
        </div>
        <div id="nos-produits" class="accordions hidden text-_main_color_dark flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold flex justify-between w-full">
                    <span>Comment modifier ma commande 2 ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Je me suis trompé d’adresse de livraison  </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Il me manque un produit dans ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div> 
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span >Je n’ai pas reçu ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span>Où est ma commande ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
        </div>
        <div id="sante-nutrition" class="accordions hidden text-_main_color_dark flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold flex justify-between w-full">
                    <span>Comment modifier ma commande 3 ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Je me suis trompé d’adresse de livraison  </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Il me manque un produit dans ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div> 
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span >Je n’ai pas reçu ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span>Où est ma commande ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
        </div>
        <div id="ambassadeurs" class="accordions hidden text-_main_color_dark  flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold flex justify-between w-full">
                    <span>Comment modifier ma commande 4 ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Je me suis trompé d’adresse de livraison  </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class="text-start px-4 font-bold w-full flex justify-between">
                    <span >Il me manque un produit dans ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div> 
            </div>
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span >Je n’ai pas reçu ma commande</span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
            
            <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-4">
                <button type="button" id="btn-accordion" class=" text-start px-4 font-bold w-full flex justify-between">
                    <span>Où est ma commande ? </span>
                    <i class="fas fa-chevron-down transition-transform duration-500"></i>
                </button>
                <div class="panel px-4 pt-2 hidden">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, libero.</p>
                </div>
            </div>
        </div>
    </div>
</section>