<div role="navigation" id="menu-bars" class="absolute z-[100] top-0 left-0 w-full h-full bg-white hidden">
    <p class="text-_main_color_dark my-4 mx-4 w-28 font-bold flex items-center gap-4">
        <i class="fas fa-xmark text-[1.5rem] hover:cursor-pointer" id="close-bars"></i>
        <span>Menu</span>
    </p>
    <hr class="border border-gray-300">
    <div class="accordions text-_main_color_dark">
        <div class="accordion-item w-full mx-auto my-2">
            <button type="button" id="btn-accordion" class="btn-accordion-header my-4 border-b-2 border-gray-300">
                <span>Catégories </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel hidden pb-4">
                <ul class="ps-4">
                    <li class="pb-[10px]">
                        <a href="#" title="Boissons" class="border-b border-_main_color_dark">Boissons</a>
                    </li>
                    <li class="pb-[10px]">
                        <a href="#" title="Chocolats" class="border-b border-_main_color_dark">Chocolats</a>
                    </li>
                    <li class="pb-[10px]">
                        <a href="#" title="Accessoires" class="border-b border-_main_color_dark">Accessoires </a>
                    </li>
                    <li class="pb-[10px]">
                        <a href="#" title="Offres du moment" class="border-b border-_main_color_dark">Offres du moment </a>
                    </li>
                    <li class="pb-[10px]">
                        <a href="#" title="Nouveautés" class="border-b border-_main_color_dark">Nouveautés</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item  w-full mx-auto my-2">
            <button type="button" id="btn-accordion" class="btn-accordion-header mb-4 border-b-2 border-gray-300">
                <span>Nos engagements </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel hidden">
                <p class="ps-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, cumque.</p>
            </div>
        </div>
        <div class="accordion-item  w-full mx-auto my-2">
            <button type="button" id="btn-accordion" class="btn-accordion-header mb-4 border-b-2 border-gray-300">
                <span>Devenir partenaire ? </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel hidden">
                <p class="ps-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, cumque.</p>
            </div>
        </div>
        <div class="accordion-item w-full mx-auto my-2">
            <button type="button" id="btn-accordion" class="btn-accordion-header mb-4 border-b-2 border-gray-300">
                <span>Nous contacter </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel hidden">
                <p class="ps-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, cumque.</p>
            </div>
        </div>
        <div class="accordion-item  w-full mx-auto my-2">
            <button type="button" id="btn-accordion" class="btn-accordion-header mb-4 border-b-2 border-gray-300">
                <span>Espace pro </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel hidden">
                <p class="ps-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, cumque.</p>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-4 mt-8 ps-4">
        <a href="https://www.facebook.com" title="facebook"><img src="./img/icons/facebook-center-square-violet.svg" alt="facebook"></a>
        <a href="https://www.instagram.com" title="instagram"><img src="./img/icons/Instagram-violet.svg" alt="instagram"></a>
        <a href="https://www.tiktok.com" title="tiktok"><img src="./img/icons/tiktok-square-violet.svg" alt="tiktok"></a>
    </div>
</div>