<div class="p-4 my-8 bg-[url('./img/Desktop/blanc.png')] img-center">
    <div class="desktop-width flex flex-col gap-8 items-center">
        <h2 class="title text-3xl text-center">Pour un monde meilleur</h2>
        <div class="content">
            <p class="text-center text-_main_color_dark sm:text-base text-sm font-medium">Chez Bahwai, nous fabriquons des produits respectueux de votre corps et de l'environnement, en utilisant des matériaux d'emballage recyclables à l'infini et en sourçant nos ingrédients auprès d'agriculteurs éco-responsables.</p>
        </div>
        <a href="./nos engagements.html" class="btn text-center">Découvrir comment</a>
    </div>
</div>