<section style="background-image: url('{{ 'Orange.png' |asset_url}}');" class="partenaire text-white flex flex-col justify-center items-center gap-6 bg-[url('./img/Desktop/Orange.png')] img-center my-8 py-8">
  <h2 class="title-white">Devenir Partenaire</h2>
  <p class="text-center sm:text-base text-sm">Vous avez envie de rejoindre l’aventure Bahwai ?  Faites confiance à notre expertise</p>
  <p>
    <a href="{{ pages.partenaire.url }}" class="btn">Remplir le formulaire
    </a>
  </p>
</section>