<p class="hidden text-green-700"></p>
<section class="newsletter-1 mt-12">
  <p id="btn-etre-prevenu" class="btn-etre-prevenu">Je souhaite être prévenu des prochaines ouvertures +</p>

  <div>
    {% form 'contact', id: 'form-etre-prevenu', class: "hidden flex-col gap-4 align-justify-center" %}
      <div class="flex justify-end max-w-[20rem] w-full mx-auto">
        <p id="close-etre-prevenu" class="hover:cursor-pointer text-end font-bold border-b-2 text-_main_color_dark border-_main_color_dark">
          <i class="fas fa-xmark text-[18px] me-2"></i>
          <span>Fermer</span>
        </p>
      </div>
      <div class="form-item">
        <input
          type="hidden"
          name="contact[objet]"
          value="Je souhaite être prévenu lors des prochaines ouvertures">
        <input
          type="text"
          name="contact[nom]"
          placeholder="Nom"
          class="input"
          required>
      </div>
      <div class="form-item">
        <input
          type="tel"
          name="contact[tel]"
          placeholder="Numéro de téléphone"
          class="input"
          required>
      </div>
      <div class="form-item">
        <input
          type="email"
          name="contact[email]"
          placeholder="Addresse mail"
          class="input"
          required>
      </div>
      <div class="form-item">
        <input
          type="text"
          name="contact[Code postal]"
          placeholder="Code postal"
          class="input"
          required>
      </div>
      <button
        id="btn-newsletter"
        type="submit"
        class="btn px-[5rem] py-2 text-white">Envoyer</button>
    {% endform %}
  </div>
</section>
<!-- notification -->
<style>
  .bg-notif {
    background-image: url('{{ 'Orange.png' |asset_url }}');
  }
</style>
<div id="notif-partenaire" class="hidden fixed top-[14rem] w-full">
  <div class="bg-notif img-center rounded-md p-4 sm:mx-[8rem] mx-4">
    <div class="flex justify-end mb-8">
      <p id="close-notif-partenaire" class="text-end font-bold hover:cursor-pointer border-b-2 border-_main_color_dark">
        <i class="fas fa-xmark text-[1.5rem]"></i>
        <span>Fermer</span>
      </p>
    </div>


    <p class="text-white">Super, nous avons bien pris en compte ta demande, on revient vers toi très bientôt pour te donner des nouvelles !!! <br><br>
      Cordialement
    </p>
    <h2 class="text-white font-bold text-lg">Bahwai family</h2>
  </div>
</div>
