<!-- filter modale -->
<div id="filter-modal" class="fixed top-0 w-full h-full z-50 bg-white hidden">
  <div class="flex justify-between sm:hidden m-3">
    <p id="close-filter-modal" class="hover:cursor-pointer text-end text-_main_color_dark">
      <i class="fas fa-xmark text-[18px] me-2"></i>
      <span class="font-medium sm:text-base text-sm">Fermer</span>
    </p>
    <p class="flex gap-4 text-_main_color_dark hover:cursor-pointer border-b border-_main_color_dark">
      <img src="{{ 'Filtrer.svg' |asset_url }}" alt="">
      <span class="font-medium sm:text-base text-sm">Filtrer</span>
    </p>
  </div>
  <hr class="bg-gray-500 mb-[20px]">
  <form
    action="#"
    method="get"
    id="form-filtre">
    <div class="accordions text-_main_color_dark">
      <div class="accordion-item my-2">
        <button
          type="button"
          id="btn-accordion"
          class="mb-4 border-b border-gray-500 px-4 font-bold flex justify-between w-full">
          <span>Objectifs</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel hidden p-3">
          <div class="content flex flex-col gap-3">
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="perte_poids"
                id="perte"
                class="checkbox">
              <label for="perte" class="hover:cursor-pointer">Perte de poids (2)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="prise_masse"
                id="masse"
                class="checkbox">
              <label for="masse" class="hover:cursor-pointer">Prise de masse (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="controle_poids"
                id="control"
                class="checkbox">
              <label for="control" class="hover:cursor-pointer">Contrôle du poids (2)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item my-2">
        <button
          type="button"
          id="btn-accordion"
          class="mb-4 border-b border-gray-500 px-4 font-bold flex justify-between w-full">
          <span>Saveurs</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel hidden p-3">
          <div class="content flex flex-col gap-3">
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="perte_poids"
                id="framboise"
                class="checkbox">
              <label for="framboise" class="hover:cursor-pointer">Framboise (1)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="prise_masse"
                id="kiwi"
                class="checkbox">
              <label for="kiwi" class="hover:cursor-pointer">Kiwi (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="citron_vert"
                id="citron"
                class="checkbox">
              <label for="citron" class="hover:cursor-pointer">Citron vert (2)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="Fruit"
                id="Fruit"
                class="checkbox">
              <label for="Fruit" class="hover:cursor-pointer">Fruit du dragon (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="CBD"
                id="CBD"
                class="checkbox">
              <label for="CBD" class="hover:cursor-pointer">CBD (1)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item my-2">
        <button
          type="button"
          id="btn-accordion"
          class="mb-4 border-b border-gray-500 px-4 font-bold flex justify-between w-full">
          <span>Régime</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel hidden p-3">
          <div class="content flex flex-col gap-3">
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="perte_poids"
                id="perte"
                class="checkbox">
              <label for="perte" class="hover:cursor-pointer">Perte de poids (2)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="prise_masse"
                id="masse"
                class="checkbox">
              <label for="masse" class="hover:cursor-pointer">Prise de masse (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="controle_poids"
                id="control"
                class="checkbox">
              <label for="control" class="hover:cursor-pointer">Contrôle du poids (2)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item my-2">
        <button
          type="button"
          id="btn-accordion"
          class="mb-4 border-b border-gray-500 px-4 font-bold flex justify-between w-full">
          <span>À quel moment ?</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel hidden p-3">
          <div class="content flex flex-col gap-3">
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="perte_poids"
                id="framboise"
                class="checkbox">
              <label for="framboise" class="hover:cursor-pointer">Matin (1)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="Collation"
                id="Collation"
                class="checkbox">
              <label for="Collation" class="hover:cursor-pointer">Collation (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="gouter"
                id="gouter"
                class="checkbox">
              <label for="gouter" class="hover:cursor-pointer">Goûter (2)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="Soir"
                id="Soir"
                class="checkbox">
              <label for="Soir" class="hover:cursor-pointer">Soir (1)
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item my-2">
        <button
          type="button"
          id="btn-accordion"
          class=" border-b border-gray-500 px-4 font-bold flex justify-between w-full">
          <span>Espace Pro</span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel hidden p-3">
          <div class="content flex flex-col gap-3">
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="perte_poids"
                id="perte"
                class="checkbox">
              <label for="perte" class="hover:cursor-pointer">Perte de poids (2)</label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="prise_masse"
                id="masse"
                class="checkbox">
              <label for="masse" class="hover:cursor-pointer">Prise de masse (1)
              </label>
            </div>
            <div class="filter-item relative flex gap-4">
              <i class="fa-solid fa-check"></i>
              <input
                type="checkbox"
                name="controle_poids"
                id="control"
                class="checkbox">
              <label for="control" class="hover:cursor-pointer">Contrôle du poids (2)</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-12">
      <button class="btn !pt-0" type="submit">Appliquer</button>
    </div>
  </form>
</div>