<section class="map flex flex-col align-justify-center gap-4 mb-5 mt-16 mx-4 sm:mx-0">
    <h2 class="font-litle text-[32px] text-_main_color_light text-center mx-8">{{ section.settings.title }}</h2>
    <form action="#" method="post" class="flex items-center justify-between max-w-[37rem] w-full">
        <input type="search" name="map_search" placeholder="Adresse, Ville, Code postal" class="input">
        <i class="fas fa-search px-6 py-[0.8rem] bg-_red_color text-white rounded-[5px] ms-3"></i>
    </form>
    <div class="w-full sm:w-[600px]" >
        {{ section.settings.map }}
    </div>
</section>
<section class="map flex flex-col align-justify-center gap-4 mb-5 mt-16 mx-4 sm:mx-0">
    <h2 class="font-litle text-[32px] text-_main_color_light text-center mx-8">{{ section.settings.title }}</h2>
    <form action="#" method="post" class="flex items-center justify-between max-w-[37rem] w-full">
        <input type="search" name="map_search" placeholder="Adresse, Ville, Code postal" class="input">
        <i class="fas fa-search px-6 py-[0.8rem] bg-_red_color text-white rounded-[5px] ms-3"></i>
    </form>
    <div class="w-full sm:w-[600px]" >
        {{ section.settings.map }}
    </div>
</section>

{% schema %}
    {
        "name": "Section",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Titre",
                "default": "Trouvez le magasin le plus proche de chez vous"
            },
            {
                "type": "html",
                "id": "map",
                "label": "Iframe map",
                "default": "<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30870.723463074584!2d-17.513293145502004!3d14.721611847124374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec16d52737c340b%3A0x3f7058593d413bed!2sOuakam%2C%20Dakar!5e0!3m2!1sfr!2ssn!4v1686314742194!5m2!1sfr!2ssn' height='450' width:'100%' style='border:0;'' loading='lazy' referrerpolicy='no-referrer-when-downgrade'></iframe>"
            }
        ]
    }
{% endschema %}