<section class="newsletter-1 ">
    <p id="btn-etre-prevenu" class="btn-etre-prevenu">{{ section.settings.title }}</p>
            
    <div>
        {{ section.settings.form }}
        {% comment %} 
        <form action="#" method="post" id="form-etre-prevenu" class="hidden flex-col gap-4 align-justify-center">
            <div class="flex justify-end max-w-[20rem] w-full mx-auto">
                <p id="close-etre-prevenu" class="hover:cursor-pointer text-end font-bold border-b-2 text-_main_color_dark border-_main_color_dark">
                    <i class="fas fa-xmark text-[18px] me-2"></i>
                    <span>Fermer</span>
                </p>
            </div>
            <div class="form-item">
                <input type="text" name="nom" placeholder="Nom" class="input">
            </div>
            <div class="form-item">
                <input type="tel" name="tel" placeholder="Numéro de téléphone" class="input">
            </div>
            <div class="form-item">
                <input type="email" name="email" placeholder="Addresse mail" class="input">
            </div>
            <div class="form-item">
                <input type="text" name="postal" placeholder="Code postal" class="input">
            </div>
            <button type="button" class="btn px-[5rem] py-2 text-white">Envoyer</button>
        </form> 
        {% endcomment %}
    </div>
</section>

{% schema %}
    {
        "name": "Section",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Titre",
                "default": "Je souhaite être prévenu des prochaines ouvertures +"
            },
            {
                "type": "html",
                "id": "form",
                "label": "Formulaire"
            }

        ]
    }
{% endschema %}