<div style="background-image: url('{{ 'BanniereBlanc.png' |asset_url }}');" class="p-4 my-8 img-center">
  <div class="desktop-width flex flex-col gap-8 items-center">
    <h2 class="title text-3xl text-center">{{ section.settings.title }}
    </h2>
    <div class="content">
      <p class="text-center text-_main_color_dark sm:text-base text-sm font-medium">Bahwai propose de vrais produits sains et gourmands , Parce bon et sain, oui c’est possible ! on a
        bani les aliments mauvais pour la santé.
                            Pourquoi allez loin, quand on a tout à côté! Nos ingrédients sont sourcés auprès de nos agriculteurs
                            Français éco-responsables.
                            Et parce que pour nous le respect de l’environnement c’est aussi important, on n’utilise que des
                            matériaux recyclables à l’infini</p>
    </div>
    <a href="{{ pages.engagements.url }}" class="btn text-center">Découvrir comment</a>
  </div>
</div>

{% schema %}
  {
    "name": "Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titre",
        "default": "Une best LIFE !"
      }

    ]
  }
{% endschema %}


{% comment %} 
titre: Pour un monde meilleur 
---------------------------
Chez Bahwai, nous fabriquons
des produits respectueux de votre corps et de l'environnement, en utilisant des matériaux d'emballage
recyclables à l'infini et en sourçant nos ingrédients auprès d'agriculteurs éco-responsables.
{% endcomment %}