<div class="content bg-_main_color_light h-[300px]">

</div>



{% schema %}
    {
      "name": "Categories section",
      "tag": "section",
      "class": "categories-section",
      "settings": [
        
      ]
    }
{% endschema %}