<div class="categories-content-section bg-_main_color_light pb-[42px] pt-[45px]">
  <div class="cats-content flex sm:gap-[192px] gap-6 justify-center items-center sm:flex-row flex-col">
    <div class="cat-item relative z-10 bg-_chocolat_dark">
      <h4 class="text-[20px] font-normal font-poetsen text-white leading-[22px] mb-[5px]">Nos billes <br>
        chocolatées
      </h4>
      <p class="text-_orange_color font-bold text-xs leading-[22px]">
        FAIBLE INDICE <br>
        GLYCÉMIQUE
      </p>
      <div class="div-btn flex justify-center mt-[48px]">
        <a href="#" class="btn">Découvrir la collection</a>
      </div>
      <div class="absolute top-[-43px] sm:right-[-131px] right-[-40px]">
        <img class="sm:w-[313px] w-[259px]" src="{{ 'explosion_chocolat.svg' |  asset_url }}" alt="explosion_chocolat" height="auto" width="auto">
      </div>
      <div class="courb-form absolute bottom-0 left-0 -z-10">
        <img class="w-full rounded-s-lg" src="{{ 'form1.svg' |  asset_url }}" alt="form1" height="auto" width="auto">
      </div>
    </div>
    <div class="cat-item relative z-10 bg-_chocolat_light">
      <h4 class="text-[20px] font-normal font-poetsen text-white leading-[22px] mb-[5px]">
        Nos pâtes à <br>tartiner
      </h4>
      <p class="text-_orange_color font-bold text-xs leading-[22px]">
        FAIBLE INDICE <br>
        GLYCÉMIQUE
      </p>
      <div class="div-btn flex justify-center mt-[48px]">
        <a href="#" class="btn">Découvrir la collection</a>
      </div>
      <div class="absolute top-[15px] sm:right-[-97px] right-[-9px]">
        <img class="sm:w-[313px] w-[259px]" src="{{ 'patte_chocolat.svg' |  asset_url }}" alt="patte_chocolat" height="auto" width="auto">
      </div>
      <div class="courb-form absolute bottom-0 left-0 -z-10">
        <img class="w-full rounded-ee-lg" src="{{ 'form2.svg' |  asset_url }}" alt="form1" height="auto" width="auto">
      </div>
    </div>
  </div>
</div>



{% schema %}
    {
      "name": "Categories section",
      "tag": "section",
      "class": "categories-section",
      "settings": [
        
      ]
    }
{% endschema %}