<style>
  @media screen and (max-width: 640px) {
    .banner-blog {
      background-image: url('{{ 'hero-angagement.png' | asset_url }}');
    }
  }
</style>
<div
  style="background-image: url('{{ 'hero-engagement.png' |asset_url }}');"
  class="banner-blog  img-center sm:h-[20rem] h-[14rem]"></div>

<section
  class="engagment mt-8 mb-4">
  <div
    class="text-_main_color_dark my-8 mx-8">
    <h2
      class="title mb-8">CHARTE DE CONFIDENTIALITÉ</h2>
    <p
      class="mb-4 text-left">
      Chez BAHWAI, nous savons combien le respect de votre vie privée est important. Nous nous engageons à œuvrer pour la protection de la vie privée et les données à caractère personnel de nos clients et des internautes visitant notre site Internet www.bahwai.com  ainsi que sur toute page Web sur les domaines appartenant à BAHWAI.
    </p>

    <p
      class="mb-4 text-left">
      Afin de permettre à nos clients de pouvoir utiliser les services proposés par notre site et de leur apporter la meilleur expérience possible, nous collectons et nous traitons vos données personnelles de manière licite, loyale et transparente et dans la strict conformité avec les exigences de la CNIL (commission national de l’informatique et des libertés) et au RGPD (règlement général sur la protection des données).
    </p>
    <p
      class="mb-4 text-left">Dans notre politique de protection des données, nous allons vous expliquer  pourquoi nous récoltons vos données à caractère personnel et comment nous traitons vos données à caractère personnel tout en garantissant vos droits et le respect de votre vie privée.</p>

    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Comment collectez vous mes données à caractère personnel ?</h3>
    <p
      class="mb-4 text-left">
      Lorsque vous accédez à notre site web BAHWAI, vos données personnelles peuvent être recueillies. En accédant et en utilisant notre site, vous consentez avoir été informé et avoir accepté notre politique en matière de collecte, d’utilisation et de conservation des données énumérées dans la présente politique de confidentialité.
    </p>
    <p
      class="mb-4 text-left">Votre consentement est nécessaire pour la bonne utilisation de notre site et des services qu’il propose (réaliser un achat…).</p>
    <p
      class="mb-4 text-left">
      Vos données à caractère personnel sont collectées lorsque :<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">
          vous adhérez à notre newsletter ou vous nous communiquer vos informations afin de pouvoir être recontacté
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          vous souhaitez récupérer des contenus offerts par notre site (livre blanc…)
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          vous renseignez notre formulaire de contact BAHWAI  pour échanger avec nous;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          vous passez une commande sur notre site pour acheter l’un de nos produits (les données renseignées sont collectées même si vous n’avez pas finalisé votre achat);
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          après une commande,  pour vous informer sur la gestion et le suivi de votre commande (prise en compte, envoie, date de livraison…) ou simplement savoir si nos services vous donnent satisfaction;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          vous naviguez sur les différentes pages de notre site web;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          vous participez à l’un de nos évènements (jeux concours, compétition…);
        </li>
      </ul>
    </p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Quelles sont les données personnelles que vous collectez ?</h3>
    <p
      class="mb-4 text-left">
      Lorsque vous visitez et utilisez notre site, nous pouvons recueillir et conserver les informations suivantes : <br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">
          Des informations à propos de votre ordinateur, y compris votre adresse IP, votre localisation géographique, le type et la version de votre navigateur, et votre système d’exploitation;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          Des informations sur vos visites et votre utilisation de ce site web y compris la source référente, la durée de la visite, les pages vues, et les chemins de navigation de sites web;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          Des informations comme votre adresse e-mail, que vous nous fournissez lors de votre inscription au site;
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          Des informations que vous saisissez quand vous créez un profil sur notre site web comme votre nom, votre photo de profil, votre genre, votre date de naissance, votre situation amoureuse, vos intérêts et vos loisirs, votre parcours scolaire et votre parcours professionnel;
        </li>
        <li
          class="mb-1 ml-8 list-disc">Des informations comme votre nom et votre adresse e-mail, que vous saisissez pour souscrire à nos e-mails et/ou newsletters;</li>
        <li
          class="mb-1 ml-8 list-disc">Des informations que vous saisissez quand vous utilisez les services de notre site web;</li>
        <li
          class="mb-1 ml-8 list-disc">Des informations générées lors de l’utilisation de notre site, y compris quand, à quelle fréquence et sous quelles circonstances vous l’utilisez;</li>
        <li
          class="mb-1 ml-8 list-disc">Des informations relatives aux achats que vous faites, aux services que vous utilisez ou aux transactions que vous effectuez sur notre site, qui incluent votre nom, adresse, numéro de téléphone, adresse e-mail et informations bancaires;</li>
        <li
          class="mb-1 ml-8 list-disc">Des informations que vous publiez sur notre site web dans l’intention de les publier sur internet, et qui incluent votre identifiant, vos photos de profil et le contenu de vos publications;</li>
        <li
          class="mb-1 ml-8 list-disc">Des informations contenues dans toutes les communications que vous nous envoyez par e-mail ou sur notre site web, y compris leurs contenus et leurs métadonnées;</li>
        <li
          class="mb-1 ml-8 list-disc">Toute autre information personnelle que vous nous communiquez.
        </li>
      </ul>
    </p>
    <p
      class="mb-4 text-left">
      Avant de nous divulguer des informations personnelles concernant une autre personne, vous devez obtenir le consentement de ladite personne en ce qui concerne la divulgation et le traitement de ces informations personnelles selon les termes de cette politique. Nous ne recueillons pas d’autres informations sauf si nécessaire et avec votre accord.
    </p>
    <p
      class="mb-4 text-left">
      Si vous soumettez des informations personnelles sur notre site web dans le but de les publier, nous les publierons et pourrons utiliser ces informations conformément aux autorisations que vous nous accordez.
    </p>
    <p
      class="mb-4 text-left">Vos paramètres de confidentialité peuvent être utilisés pour limiter la publication de vos informations sur notre site web et peuvent être ajustés dans vos paramètres de confidentialité sur le site web.</p>
    <p
      class="mb-4 text-left">Sans votre consentement explicite, nous ne fournirons pas vos informations personnelles à des tierces parties pour leur marketing direct, ni à celui d’autres tierces parties.</p>

    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Pourquoi traitons-nous vos données personnelles ?</h3>
    <p
      class="mb-4 text-left">Les données personnelles recueillies sur notre site ne sont utilisées que pour les finalités présentées dans notre politique de confidentialité. Nous n’utilisons pas vos données pour d’autres usages que ceux mentionnés ci-dessous :<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">Les données utilisateurs sont exploitées en tant que statistique pour améliorer nos services. Ces données restent confidentielles et ne sont pas partagées.</li>
        <li
          class="mb-1 ml-8 list-disc">Les données personnelles recueillies sur notre site sont confidentielles et réservées à l’usage exclusif de BAHWAI pour assurer l’exécution de votre commande.</li>
        <li
          class="mb-1 ml-8 list-disc">Ces données sont utilisées, si le client le souhaite, à des fins de communication pour informer le client sur les conditions générales, les évènements, les nouveautés ou encore les offres promotionnelles proposées par BAHWAI.</li>
      </ul>
    </p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Combien de temps conservez- vous mes données personnelles ?</h3>
    <p
      class="mb-4 text-left">BAHWAI conserve les données à caractère personnel de ses clients uniquement le temps nécessaire pour répondre aux finalités pour lesquelles ces données sont collectées.
    </p>
    <p
      class="mb-4 text-left">
      Exception faite des informations récoltées lors de votre inscription à nos newsletters et nos formulaires de prise de contact, vos données à caractère personnel sont conservées pendant toute la durée de votre inscription à ces communications. Vous pouvez à tout moment vous désinscrire de ces communications en nous transmettant votre demande par mail à l’adresse : cteyssier@bahwai.fr ou via le lien de désinscription automatique présent sur chacune de nos communications mail.
    </p>
    <p
      class="mb-4 text-left">Durée de conservation de vos données personnelles :<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">En cas de création d’un compte, vos données seront conservées jusqu’à l’envoi de votre part d’une demande écrite nous demandant de supprimer le compte</li>
        <li
          class="mb-1 ml-8 list-disc">Lors de votre participation aux évènements organisés par BAHWAI (compétitions, jeux concours…) ou  en cas d’achat de produits sur notre site, vos données nécessaires au traitement de la commande sont conservées uniquement pendant la durée de notre relation contractuelle, plus une durée supplémentaire correspondant à la durée de prescription applicable.</li>
        <li
          class="mb-1 ml-8 list-disc">Les données récoltées par nos cookies, lorsque vous vous connectez sur notre site,  sont conservées pour une période maximale de 6 mois.</li>
        <li
          class="mb-1 ml-8 list-disc">Après une période d’inactivité de 3 ans à compter de votre dernière connexion sur votre espace client, vos données seront automatiquement supprimées.</li>

      </ul>
    </p>
    <p
      class="mb-4 text-left">Nonobstant les autres dispositions de cette Section, nous conserverons les documents (y compris les documents électroniques) contenant des données personnelles:<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">Dans la mesure où nous sommes tenus de le faire par la loi;</li>
        <li
          class="mb-1 ml-8 list-disc">Si nous pensons que les documents peuvent être pertinents pour toute procédure judiciaire en cours ou potentielle ; et</li>
        <li
          class="mb-1 ml-8 list-disc">Pour établir, exercer ou défendre nos droits légaux (y compris fournir des informations à d’autres à des fins de prévention des fraudes et de réduction des risques de crédit).</li>
      </ul>
    </p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Qui a, ou peut avoir, accès à mes données personnelles ?</h3>
    <p
      class="mb-4 text-left">Nous pouvons divulguer vos informations personnelles à n’importe lequel de nos employés, dirigeants, assureurs, conseillers professionnels, agents, fournisseurs, ou sous-traitants dans la mesure où cela est raisonnablement nécessaire aux fins énoncées dans cette politique.</p>
    <p
      class="mb-4 text-left">Nous pouvons divulguer vos informations personnelles:<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">Dans la mesure où nous sommes tenus de le faire par la loi ;</li>
        <li
          class="mb-1 ml-8 list-disc">Dans le cadre de toute procédure judiciaire en cours ou à venir ;</li>
        <li
          class="mb-1 ml-8 list-disc">Pour établir, exercer ou défendre nos droits légaux (y compris fournir des informations à d’autres à des fins de prévention des fraudes et de réduction des risques de crédit);</li>
        <li
          class="mb-1 ml-8 list-disc">À l’acheteur (ou acheteur potentiel) de toute entreprise ou actif en notre possession que nous souhaitons (ou envisageons de) vendre ; et</li>
        <li
          class="mb-1 ml-8 list-disc">À toute personne que nous estimons raisonnablement faire partie intégrante d’un tribunal ou autre autorité compétente pour la divulgation de ces informations personnelles si, selon notre opinion, un tel tribunal ou une telle autorité serait susceptible de demander la divulgation de ces informations personnelles.
        </li>
      </ul>
    </p>
    <p
      class="mb-4 text-left">Sauf disposition contraire de la présente politique, nous ne transmettrons pas vos informations personnelles à des tierces parties.</p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Quelle est votre politique en matière de transfert de données à caractère personnel en dehors de l’Union européenne ?</h3>
    <ul
      class="mb-4">
      <li
        class="mb-1 ml-8 list-disc">Les informations que nous collectons peuvent être stockées, traitées et transférées dans tous les pays dans lesquels nous opérons, afin de nous permettre d’utiliser les informations en accord avec cette politique.</li>
      <li
        class="mb-1 ml-8 list-disc">Les informations que nous collectons peuvent être transférées dans les pays suivants, n’ayant pas de lois de protections des données équivalentes à celles en vigueur dans l’espace économique européen : les États-Unis d’Amérique, la Russie, le Japon, la Chine et l’Inde.</li>
      <li
        class="mb-1 ml-8 list-disc">Les informations personnelles que vous publiez sur notre site web ou que vous soumettez à la publication peuvent être disponibles, via internet, dans le monde entier. Nous ne pouvons empêcher l’utilisation, bonne ou mauvaise, de ces informations par des tiers.</li>
      <li
        class="mb-1 ml-8 list-disc">Vous acceptez expressément le transfert d’informations personnelles décrit dans cette section.</li>
    </ul>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Comment assurez-vous la sécurité de mes données ?</h3>
    <ul
      class="mb-4">
      <li
        class="mb-1 ml-8 list-disc">Nous prenons des précautions techniques et organisationnelles raisonnables pour empêcher la perte, l’abus ou l’altération de vos informations personnelles.</li>
      <li
        class="mb-1 ml-8 list-disc">Nous stockons toutes les informations personnelles que vous nous fournissez sur des serveurs sécurisés (protégés par mot de passe et pare-feu).</li>
      <li
        class="mb-1 ml-8 list-disc">Toutes les transactions financières électroniques effectuées par le biais de notre site web sont protégées par des technologies de cryptage de niveau bancaire.</li>
      <li
        class="mb-1 ml-8 list-disc">Vous reconnaissez que la transmission d’informations par internet est intrinsèquement non sécurisée, et que nous ne pouvons pas garantir la sécurité de vos données envoyées par internet.</li>
      <li
        class="mb-1 ml-8 list-disc">Vous êtes responsable de la confidentialité du mot de passe que vous utilisez pour accéder à notre site web ; nous ne vous demanderons jamais de nous communiquer votre mot de passe.</li>
    </ul>
    <p
      class="mb-4 text-left">Notre site web contient des liens hypertextes menant vers des sites web tiers et des informations les concernant. Nous n’avons aucun contrôle sur ces sites, et ne sommes pas responsables de leurs politiques de confidentialité ni de leurs pratiques.</p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Mise à jour de notre politique de confidentialité</h3>
    <p
      class="mb-4 text-left">Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier régulièrement notre politique pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courrier électronique des changements apportés à cette politique.</p>
    <h3
      class="mt-4 mb-1 text-xl font-bold text-left">Quels sont mes droits concernant mes données à caractère personnel ?
    </h3>
    <p
      class="mb-4 text-left">
      Vous pouvez nous demander de vous fournir toute information personnelle que nous détenons sur vous ; le transfert de telles informations sera soumis aux conditions suivantes:<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">
          La présentation de preuves suffisantes de votre identité : à ces fins, nous acceptons en général une photocopie de votre passeport certifiée par notaire plus une copie originale d’une facture de service public indiquant votre adresse actuelle
        </li>
      </ul>
      En tant qu’utilisateur, Vos droits vous permettent de :<br>
      <ul
        class="mb-4">
        <li
          class="mb-1 ml-8 list-disc">
          droit d’accès et de rectification de vos données à caractère personnel
        </li>
        <li
          class="mb-1 ml-8 list-disc">droit à l’oubli (= droit de demander à effacer vos données)</li>
        <li
          class="mb-1 ml-8 list-disc">droit de restreindre le traitement de vos données</li>
        <li
          class="mb-1 ml-8 list-disc">droit à la portabilité de vos données</li>
        <li
          class="mb-1 ml-8 list-disc">droit à l’objection de l’utilisation de vos données</li>
      </ul>
    </p>
    <p>
      Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD<br>
      Quelle est votre politique en matière de gestion des cookies ?<br>
      Un cookie est un petit fichier, stocké sur le disque dur d’un utilisateur par le site web qu’il consulte. Son but est de recueillir des données relatives aux habitudes de navigation de l’utilisateur afin d’améliorer son utilisation des sites internet.<br>
      Lors de sa navigation sur le Site, vous êtes amené à consentir à l’installation de Cookies sur votre terminal informatique.<br>
      Nous utilisons sur notre site les types de cookies suivant :<br>
      <ul>
        <li
          class="mb-1 ml-8 list-disc">
          Cookies fonctionnels : nous les utilisons pour mémoriser toutes les sélections que vous faites sur notre site afin qu’elles soient sauvegardées pour vos prochaines visites. Ces Cookies sont indispensables au bon fonctionnement du Site et ne nécessitent pas  votre consentement avant leur installation</li>
        <li
          class="mb-1 ml-8 list-disc">
          Cookies analytiques : cela nous permet d’améliorer la conception et la fonctionnalité de notre site en recueillant des données sur le contenu auquel vous accédez et sur lesquels vous vous accrochez en utilisant notre site.</li>
        <li
          class="mb-1 ml-8 list-disc">
          Cookies de ciblage : ces cookies collectent des données sur la façon dont vous utilisez le site et vos préférences. Cela nous permet de rendre les informations que vous voyez sur notre site davantage adaptées et personnalisées pour vous.</li>
      </ul>
    </p>
    <p
      class="mt-4 mb-4 text-left">
      Nous utilisons Google Analytics et Adwords sur notre site web pour : reconnaître un ordinateur lorsqu’un utilisateur consulte le site web/ suivre les utilisateurs lors de leur navigation sur le site web/ activer l’utilisation d’un panier sur le site web/ améliorer l’utilisation d’un site web/ analyser l’utilisation du site web/ administrer le site web/ empêcher la fraude et améliorer la sécurité du site web/ personnaliser le site web pour chaque utilisateur/ envoyer des publicités ciblées pouvant intéresser certains utilisateurs (décrivez vos autres objectifs);
    </p>
    <p
      class="mt-4 mb-4 text-left">Les Cookies sont supprimés automatiquement sous treize (13) mois à compter de leur installation si la Personne concernée ne renouvelle pas son consentement avant l’expiration de ce délai.
    </p>
    <p
      class="mt-4 mb-4 text-left">La Personne concernée peut refuser de donner son consentement à l’installation des Cookies non fonctionnels, revenir sur son consentement et/ou paramétrer les Cookies à tout moment de la manière suivante :<br>
      <ul>
        <li
          class="mb-1 ml-8 list-disc">
          <a
            href="https://support.microsoft.com/fr-fr/help/17442">Internet Explorer :</a>
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          <a
            href="https://www.apple.com/legal/privacy/fr-ww/">Safari</a>
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          <a
            href="https://support.google.com/chrome/answer/95647co=GENIE.Platform%3DDesktop&hl=fr">Chrome</a>
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          <a
            href="https://support.mozilla.org/fr/kb/effacer-les-cookies-pour-supprimer-les-information">Firefox</a>
        </li>
        <li
          class="mb-1 ml-8 list-disc">
          <a
            href="https://www.opera.com/fr/privacy">Opera</a>
        </li>
      </ul><br>
      Bloquer tous les cookies aura un impact négatif sur l’utilisation de nombreux sites web. Si vous bloquez les cookies, vous ne pourrez pas utiliser toutes les fonctionnalités de notre site web.
    </p>


  </div>



</section>



{% schema %}
  {
    "name": "main-charte",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}