<div class="aricle-main text-_main_color_dark pb-20">
	<div style="background-image: url('{{ 'bannerarticle.png' | asset_url }}');"
		class="banner img-center sm:h-[23rem] h-[14rem]"></div>

	<div class="article-head flex flex-col justify-center items-center mb-6 mt-8">
		<h2 class="title">{{ article.title }}</h2>
		<p class="text-center mb-4">Article publié le 26 Avr 2023</p>
	</div>
	<div class="article-content flex flex-col gap-4 px-8 desktop-width">
		<div class="">
			<h5 class="text-_main_color_dark font-bold mb-1">Bahwai lance sa canette faite à base d’herbe </h5>
			<p class="text-gray-400 text-sm">Vous cherchez une collation délicieuse et à la fois saine ? Essayez les
				snacks
				Bahwai ! Avec notre expertise professionnelle en matière de sa</p>
		</div>
		<div class="">
			<h5 class="text-_main_color_dark font-bold mb-1">Bahwai lance sa canette faite à base d’herbe </h5>
			<p class="text-sm text-black">
				Notre eau pétillante pour la récupération est la boisson idéale pour tout les sportifs qui souhaitent se
				réhydrater et chiller tout en profitant des bienfaits naturels pour la récupération musculaire,
				bénéficier d’un
				vrai sommeil réparateur et d’un réveil frais.Issue des sources de nos montagnes françaises, cette eau
				pétillante
				est naturellement pauvre en calories et sans sucre. Son goût frais et rafraîchissant de citron/citron
				vert en
				fait la boisson parfaite pour se désaltérer tout en profitant de ses bienfaits pour le corps.
				A boire très frais pour un maximum de goût !
			</p>
		</div>
		<div class="">
			<h5 class="text-_main_color_dark font-bold mb-1">Eau pétillante Récupération & Relaxation à base de chanvre
				français </h5>
			<p class="text-sm text-black">
				Notre eau pétillante pour la récupération est la boisson idéale pour tout les sportifs qui souhaitent se
				réhydrater et chiller tout en profitant des bienfaits naturels pour la récupération musculaire,
				bénéficier d’un
				vrai sommeil réparateur et d’un réveil frais. Issue des sources de nos montagnes françaises, cette eau
				pétillante est naturellement pauvre en calories et sans sucre. Son goût frais et rafraîchissant de
				citron/citron
				vert en fait la boisson parfaite pour se désaltérer tout en profitant de ses bienfaits pour le corps.
				A boire très frais pour un maximum de goût !
			</p>
		</div>
	</div>
</div>