<section class="faq mt-12 mb-4 desktop-width">
  <h2 class="title mb-8">{{ page.title | escape }}</h2>

  <div class="questions-content">
    <div id="" class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[80%] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Quels sont vos délais de livraison ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos délais de livraison sont compris entre 1 et 5 jours à compter de la date d’envoi selon
            la méthode de livraison que tu as choisie.
                                                                                                                                                                    Durant les pics d’activité, certains événements ou périodes exceptionnelles (fêtes de
                                                                                                                                                                    Noël…) peuvent impacter les délais de livraison de ta commande, impliquant des
                                                                                                                                                                    retards indépendants de notre volonté.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Quels sont les moyens de livraison que vous proposez ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Afin de répondre favorablement aux attentes de chaque client, nous proposons 3
            méthodes de livraison :</p>
          <ul class="list-disc ps-8">
            <li>Livraison en point relais (48 à 72 heures) en France - 3,95€
            </li>
            <li>Livraison standard à domicile en France (48/72h) - 4,95€
            </li>
            <li>livraison express à domicile en France (24/48H) - 5,95€
            </li>
          </ul>
          <p>Le choix de la méthode de livraison peut impacter les coûts et les délais de livraison. Ces
            informations vous seront communiquées avant la validation de ta commande.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Comment puis-je trouver le point relais le plus proche de chez moi ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Lorsque tu fais le choix d’une livraison en point relais, une carte des points relais
            s’affiche pour te permettre de choisir le point relais dans lequel tu souhaites être livré.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Comment puis-je suivre mon colis ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Une fois que ta commande est validée, tu recevras une notification t’informant de la
            prise en charge de ta commande.
                                                                                                                                                                        Une fois que ton colis est envoyé, nous te communiquons le numéro de suivi de ton
                                                                                                                                                                        colis en fonction du transporteur que tu as choisi. Tu peux alors suivre ton colis depuis
                                                                                                                                                                        ton espace client ou directement sur le site du transporteur.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Quel est le montant de vos frais de port ? avec Boxtal
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Le montant de nos frais de port varie en fonction de la méthode de livraison sélectionnée et
            de ta localisation (France, Europe ou International).
                                                                                                                                                                        Les frais de port pour la France :</p>
          <ul class="list-disc ps-8">
            <li>Livraison en point relais (48 à 72 heures) en France
            </li>
            <li>Livraison standard à domicile en France (48/72h)
            </li>
          </ul>
          <p>Les frais de port sont gratuits à partir de 60€ d’achat en France métropolitaine.</p>
          <strong class="text-_main_color_light text-lg font-bold">PAIEMENT EN LIGNE</strong>
          <p>Tous les paiements sur notre site sont traités par les modules de paiement Vivawallet et
            Paypal.
                                                                                                                                                                        Vivawallet est l’une des solutions de paiement sécurisé parmi les plus utilisées dans le
                                                                                                                                                                        monde entier et adoptée par des milliers de sites e-commerces de toutes tailles. Vivawallet
                                                                                                                                                                        accepte de nombreux moyens de paiement : les cartes bleues (CB), les cartes de crédit Visa,
                                                                                                                                                                        Mastercard et American Express, les paiements par prélèvement ou par virement, les porte
                                                                                                                                                                        monnaies électroniques, Apple pay, Google pay.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Comment puis-je régler mes achats sur ton site ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Pour régler tes achats sur notre site, nous acceptons les paiements par carte bancaire
            (Visa, Mastercard et American Express), paypal ou par virement bancaire (dans ce
                                                                                                                                                                        dernier cas, ta commande sera traitée à compter de la réception de ton virement sur
                                                                                                                                                                        notre compte).</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Comment assurez-vous la sécurité de nos paiements ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Tes paiements sont traités par notre partenaire Vivawallet qui respecte les normes de
            certification les plus élevées et les plus strictes du secteur afin d’assurer la sécurité de
                                                                                                                                                                        tes paiements.
                                                                                                                                                                        “Tous les numéros de carte sont chiffrés sur disque selon la norme AES-256. Les clés de
                                                                                                                                                                        chiffrement sont stockées sur des machines distinctes.”
                                                                                                                                                                        “L’infrastructure de Vivawallet pour le stockage, le déchiffrage et la transmission des
                                                                                                                                                                        numéros de carte fonctionne de manière indépendante, sans partager aucune
                                                                                                                                                                        information sensible avec les services de base de Vivawallet.”
                                                                                                                                                                        Les services Vivawallet sont conformes à la directive européenne DSP2 et à
                                                                                                                                                                        l’authentification forte du client. Vivawallet bénéficie des licences d’établissement de
                                                                                                                                                                        monnaie électronique dans l’UE et au Royaume-Uni.</p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Mes informations de paiement sont-elles enregistrées ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Lors du règlement de ta commande, à l’étape dans laquelle tu renseignes tes
            informations de paiement, tu as  la possibilité de choisir si tu souhaites que nous
                                                                        conservions ou pas ces informations.
                                                                        Nous proposons de conserver tes informations de paiement dans l’objectif d’optimiser
                                                                        ton expérience d’achat lors de tes futures transactions en réduisant les étapes de
                                                                        validation de ta commande. Si tu fais ce choix, lors de ton prochain achat, il ne te sera
                                                                        pas demandé de renseigner à nouveau tes informations bancaires.
                                                                        Tu peux, à tout moment, supprimer les informations de tes modes de paiement depuis
                                                                        ton espace client ou en contactant notre service hello@bahwai.fr
                                                                        Si tu ne souhaites pas que nous conservions tes informations de paiement, il suffit de
                                                                        ne pas cocher la case correspondante et tes données seront immédiatement supprimées
                                                                        après ton achat.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Ma carte est refusée, Pourquoi ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Pour des raisons de sécurité, notre module de paiement interroge ta banque afin de
            procéder à une vérification de tes provisions pour valider le paiement. S’il estime qu’il
                                                                                                                                                                        s’agit d’un potentiel paiement frauduleux, si ton compte n’est pas suffisamment
                                                                                                                                                                        approvisionné ou encore si tu as atteint ton plafond de paiement journalier, le paiement
                                                                                                                                                                        
                                                                                                                                                                        est refusé. Si ta carte est refusée, n’hésite pas à contacter ta banque qui pourra te
                                                                                                                                                                        renseigner.
                                                                                                                                                                        Si le problème persiste et n’est pas lié à ton établissement bancaire, tu peux nous
                                                                                                                                                                        contacter à l’adresse hello@bahwai.fr en renseignant le motif de ta demande.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% comment %} 
<div class="rte">
{{ page.content }}
</div> {% endcomment %}