<style>
  body{
    background-color: white !important;
  }
</style>
<main class="main-cats">

  <section class=" sm:pb-[159px] pb-[40px] pt-[87px] bg-_main_color_light">
    <div class="cats-content flex sm:gap-[192px] gap-6 justify-center items-baseline sm:flex-row flex-col sm:px-0 px-1 flex-wrap">
      
      {%- for collection in collections -%}
        {% if collection.handle == 'nos-billes-chocolatees' or collection.handle == 'nos-pates-a-tartiner' %}
          <div class="cat-item relative z-10 bg-_chocolat_light">
            <div class="cat-item-content px-1">
              <h4 class="text-[20px] font-normal font-poetsen text-white leading-[22px] mb-[5px]">
                {{  collection.title }}
              </h4>
              <p class="text-_orange_color font-bold text-xs leading-[22px]">
                {{ collection.description |  truncate: 100 }}
              </p>
              <div class="div-btn flex sm:justify-center justify-end sm:mr-0 mr-[44px] sm:mt-[48px] mt-0">
                <a href="{{ collection.url }}" class="btn">Découvrir la collection</a>
              </div>
            </div>
          </div> 
        {% endif %}
      {%- endfor -%}
    </div>
      
  </section>

</main>

{% schema %}
  {
    "name": "t:sections.main-list-collections.name",
    "class": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.main-list-collections.settings.title.label",
        "default": "Collections"
      },
      {
        "type": "select",
        "id": "sort",
        "options": [
          {
            "value": "alphabetical",
            "label": "t:sections.main-list-collections.settings.sort.options__1.label"
          },
          {
            "value": "alphabetical_reversed",
            "label": "t:sections.main-list-collections.settings.sort.options__2.label"
          },
          {
            "value": "date_reversed",
            "label": "t:sections.main-list-collections.settings.sort.options__3.label"
          },
          {
            "value": "date",
            "label": "t:sections.main-list-collections.settings.sort.options__4.label"
          }, {
            "value": "products_high",
            "label": "t:sections.main-list-collections.settings.sort.options__5.label"
          }, {
            "value": "products_low",
            "label": "t:sections.main-list-collections.settings.sort.options__6.label"
          }
        ],
        "default": "alphabetical",
        "label": "t:sections.main-list-collections.settings.sort.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
          }, {
            "value": "portrait",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
          }, {
            "value": "square",
            "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-list-collections.settings.image_ratio.label",
        "info": "t:sections.main-list-collections.settings.image_ratio.info"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "t:sections.main-list-collections.settings.columns_desktop.label"
      }, {
        "type": "header",
        "content": "t:sections.main-list-collections.settings.header_mobile.content"
      }, {
        "type": "select",
        "id": "columns_mobile",
        "options": [
          {
            "value": "1",
            "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
          }, {
            "value": "2",
            "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
          }
        ],
        "default": "2",
        "label": "t:sections.main-list-collections.settings.columns_mobile.label"
      }
    ]
  }
{% endschema %}