<section class="faq mt-12 mb-4 desktop-width">
  <h2 class="title mb-8">{{ page.title | escape }}</h2>
  <p class="text-_main_color_dark font-medium text-center max-w-[80%] w-full mx-auto mb-3">
    Chez BAHWAI, nous faisons le maximum pour que nos services répondent à tes attentes. Si malgré tout, tu n’es pas pleinement satisfait, n’hésite pas à nous contacter : nous trouverons une solution en moins de temps qu’il ne faut pour le dire !
  </p>
  <div class="questions-content">
    <div id="" class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[80%] w-full">
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Quelles sont vos conditions de retour ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>L’équipe BAHWAI œuvre à contrôler régulièrement chacun de ses ingrédients, de ses produits et des process de fabrication de ses partenaires afin de vous garantir des produits de la meilleure qualité possible. 
            Cependant, il peut arriver que certains produits puissent présenter des défauts liés à leur manipulation ou leur transport. Dans ce cas, vous disposez d’un délai de 14 jours à compter de la date de votre achat, pour bénéficier d’un échange ou d’un remboursement.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Quelles sont les conditions de retour d’un produit ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Nos produits répondent à des normes strictes d’hygiène et de qualité. Pour que nous puissions accepter ton retour ou ta demande de remboursement, merci de t’assurer de respecter les conditions suivantes avant de nous le renvoyer :
            Ton produit n’a pas été ouvert ni utilisé. Le produit doit être restitué dans le même état qu’il a été reçu.
                                                Le produit doit se trouver dans son emballage d’origine.
                                                Le numéro de ta commande doit nous être communiqué ainsi qu’une preuve d’achat.
                                                Toute demande de retour ou de remboursement au-delà de 14 jours à compter de la date d’achat, ne pourra pas être acceptée
                                                BAHWAI fait appel à des transporteurs partenaires pour la livraison de ses produits et il peut arriver que tes produits soient perdus ou endommagés pendant leur acheminement.
                                                
                                                Lors de la réception de ton colis, merci de vérifier que ton colis ne présente aucun dommages (ouvert, plié, déchiré…).Si le colis contenant ton produit est endommagé, nous t’invitons à refuser le colis afin qu’il nous soit retourné pour que nous puissions t’en renvoyer un nouveau.
                                                
                                                 
                                                
                                                Je n’ai pas reçu le bon produit ou je souhaite le renvoyer, comment puis-je le retourner ?
                                                Tu n’as pas reçu le bon produit ? toute l’équipe BAHWAI est sincèrement navré de  cette mauvaise expérience !
                                                
                                                 
                                                
                                                Mais, rassure-toi, tu peux nous renvoyer ton produit (voir respect des conditions de retour) afin que nous puissions procéder au remplacement du produit ou à son remboursement sur le moyen de paiement préalablement utilisé.
                                                
                                                Dans le cadre d’une demande de remboursement ou d’un retour, nous procédons également aux remboursements de tes frais d’envois dans la limite d’un montant correspondant au mode d’envoi standard le moins cher proposé sur notre site.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Comment se déroule le remboursement de mon produit ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Tu souhaites être remboursé et ton article respecte nos conditions de retour.
            Tu peux nous renvoyer ton produit à l’adresse : Nutrigems, 26 avenue René Duguay Trouin, 78960 Voisins le Bretonneux.
                                                
                                                Une fois que nous l’avons réceptionné, celui-ci est inspecté puis notre équipe revient vers toi en te faisant parvenir un mail te notifiant du statut de ton remboursement.
                                                
                                                Si ta demande est approuvée, ton remboursement est traité dans un délai de 7 jours ouvrés sur ta carte de crédit ou le mode de paiement que tu as utilisé lors de ton paiement.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Je n’ai toujours pas reçu mon remboursement ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Si tu n’as pas reçu ton remboursement dans un délai de 10 jours, n’hésites pas à contacter préalablement ta banque afin de vérifier si celle-ci peut voir ton remboursement (les délais de traitement des établissements bancaires sont assez variables).
            Si malgré cette vérification, tu ne retrouves pas ton remboursement, n’hésite pas à nous contacter à l’adresse cteyssier@bahwai.fr pour que nous puissions résoudre cet incident.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Mon article est un produit offert ou soldé, puis-je le renvoyer ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Si ton article est un produit offert (offre promotionnelle…) ou si c’est un produit soldé, il ne pourra pas être retourné ni remboursé.
          </p>
        </div>
      </div>
      <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
        <button
          type="button"
          id="btn-accordion"
          class="text-start px-4 font-bold flex justify-between w-full">
          <span>Un cas particulier ?
          </span>
          <i class="fas fa-chevron-down transition-transform duration-500"></i>
        </button>
        <div class="panel px-4 pt-2 hidden">
          <p>Contacte-nous pour nous en faire part afin que nous puissions trouver ensemble la meilleure solution (puisqu’on te dit que nous voulons ta satisfaction !). Pour cela, tu peux nous écrire à l’adresse bonjour@nutrigems.fr  en indiquant le motif de votre message ainsi que votre numéro de commande s’il s’agit d’une commande.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} 
<div class="rte">
{{ page.content }}
</div> {% endcomment %}