<style>
  body{
    background-color: white !important;
  }
  .form-register{
    box-shadow: 4px 4px 3px 0px rgba(86, 17, 149, 0.15);
  }
  @media screen and (max-width: 768px) {
    .form-register{
      box-shadow: none;
    }
  }
</style>
<div class="mt-20">
  <div class="content pb-[10rem]">
    <div class="flex justify-center ">
      <h1 class="title sm:w-full w-[14rem]">Créer un compte Bahwai</h1>
    </div>
    {% form 'create_customer', novalidate: 'novalidate', return_to: routes.root_url, id: 'form-register' %}
      {{ form.errors | default_errors }}
      <div id="form-connexion" class="form-register font-poppins rounded-md sm:px-[40px] px-4 py-[40px] sm:max-w-[794px] max-w-[100%] mx-auto w-full  flex flex-col items-center gap-4">
        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
          <div class="item w-full">
            <label for="prenom" class="text-xs font-semibold text-[#456073]">Prénom*</label>
            <input
              class="input focus:border-_red_color transition-all duration-300"
              id="prenom"
              type="text"
              placeholder="Prénom*"
              name="customer[first_name]"
              required>
          </div>
          <div class="item w-full">
            <label for="nom" class="text-xs font-semibold text-[#456073]">Nom*</label>
            <input
              id="nom"
              class="input focus:border-_red_color transition-all duration-300"
              type="text"
              placeholder="Nom*"
              name="customer[last_name]"
              required>
          </div>
        </div>
        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
          <div class="item w-full">
            <label for="email" class="text-xs font-semibold text-[#456073]">Adresse mail*</label>
            <input
              id="email"
              class="input focus:border-_red_color transition-all duration-300"
              type="email"
              placeholder="Adresse mail*"
              name="customer[email]"
              required>
          </div>
          <div class="item w-full">
            <label for="tel" class="text-xs font-semibold text-[#456073]">Numéro de téléphone*</label>
            <input
              id="tel"
              class="input focus:border-_red_color transition-all duration-300"
              type="tel"
              placeholder="Numéro de téléphone*"
              name="tel"
              required>
          </div>
        </div>
        <div class="flex gap-4 flex-wrap sm:flex-nowrap w-full">
          <div class="item w-full relative">
            <label for="input-password" class="text-xs font-semibold text-[#456073]">Mot de passe*</label>
            <input
              id="input-password"
              class="input focus:border-_red_color transition-all duration-300"
              type="password"
              placeholder="Mot de passe*"
              name="customer[password]"
              required>
              <div id="eye-password" class="eye absolute hover:cursor-pointer">
                <img src="{{ 'eye.svg' | asset_url }}" alt="eye" height="auto" width="auto">
              </div>
              <div id="eye-slash-password" class="hidden eye-slash absolute hover:cursor-pointer">
                <img src="{{ 'eye_slash.svg' | asset_url }}" alt="eye" height="auto" width="auto">
              </div>
          </div>
          <div class="item w-full">
            <label for="code" class="text-xs font-semibold text-[#456073]">Code de parrainage</label>
            <input
              id="code"
              class="input focus:border-_red_color transition-all duration-300"
              type="text"
              placeholder="Code de parrainage"
              name="code_p"
              required>
          </div>
        </div>
        <div class="item w-full">
          <div class="accordions">
            <button
              type="button"
              id="btn-accordion"
              class="text-[#456073] flex justify-between rounded-md py-2 px-2 h-10 w-full border border-[#999]">
              <span id="layout">Comment vous nous avez connu ?</span>
              <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </button>
            <div class="panel panel-selected hidden" id="panel-inscription">
              <ul>
                <li class="selected" data-value="Publicité Internet">Publicité Internet</li>
                <li data-value="Instagram">Instagram</li>
                <li data-value="Tiktok">Tiktok</li>
                <li data-value="Recherche internet">Recherche internet</li>
                <li data-value="Salon">Salon</li>
                <li data-value="Par mail">Par mail</li>
                <li data-value="Bouche à oreille">Bouche à oreille</li>
                <li data-value="Autre" class="rounded-b-[5px]">Autre</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center mt-4">
          <button type="submit" class="btn-red mb-4 py-2 px-4 text-white font-poppins">S’inscrire</button>
        </div>
        <p class="text-center text-[#565656] font-semibold text-[12px] font-poppins">En poursuivant, vous acceptez toutes les conditions générales d’utilisations et notre politique de confidentialité</p>
      </div>

    {% endform %}

  </div>
</div>