<section class="faq mt-12 mb-4 desktop-width">
    <h2 class="title mb-8">F.A.Q</h2>

    <div class="questions-content">
        <div id="" class="accordions text-_main_color_dark flex flex-col mt-4 mb-16 sm:mx-auto sm:max-w-[30rem] w-full">
        <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
            <button 
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>Où sont fabriqués vos produits ?
                </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
                <p>Tous nos produits sont fabriqués en France.</p>
            </div>
        </div>
        <div class="accordion-item border-b-2 border-gray-300 w-full mx-auto my-2">
            <button
                type="button"
                id="btn-accordion"
                class="text-start px-4 font-bold flex justify-between w-full">
                <span>Où sont fabriqués vos produits ?
                </span>
                <i class="fas fa-chevron-down transition-transform duration-500"></i>
            </button>
            <div class="panel px-4 pt-2 hidden">
                <p>Tous nos produits sont fabriqués en France.</p>
            </div>
        </div>
    </div>
</section>

<div class="rte">
    {{ page.content }}
</div>