<style>
  @media screen and (max-width: 640px) {
    .banner-blog {
      background-image: url('{{ 'bannerblogsm.png' |asset_url }}');
    }
  }
</style>
<div style="background-image: url('{{ 'bannerblog.png' |asset_url }}');" class="banner-blog  img-center sm:h-[20rem] h-[14rem]"></div>

<section class="engagment mt-8 mb-4">
  <div class="text-_main_color_dark my-8 mx-8">
    <h2 class="title mb-8">Nos Engagements</h2>
    <p class="mb-1">Faire des boissons et des encas qui tuent, c’est la base !, mais on voulait faire ça bien alors, on s’est entouré des meilleurs et surtout de ceux qui partagent nos valeurs. Le résultat ?
    </p>
  </div>
  {% render 'bh-site-info' %}
  <div class="mx-6">
    <h4 class="font-bold text-lg my-4 underline text-_main_color_dark">BahWai s’engage pour ta santé !</h4>
    <p class="">
      <ul class="flex flex-col gap-2 list-disc md:mx-10">
        <li>
          <span class="text-_main_color_light font-bold">Alexia Bouillot, diététicienne nutritionniste de l’équipe de France
          </span>
          de hockey sur glace (rien que ça !), est la gardienne de nos recettes : avec elle, c’est bon, c’est sain et c’est nutritif !
        </li>
        <li>
          <span class="text-_main_color_light font-bold">Chez nous, on oublie personnes, on respecte tout le monde !
          </span>
          Nos boissons et encas conviennent à la majorité des régimes alimentaires : sans gluten, végétarien et avec peu ou pas de sucre et un indice glycémique faible pour les diabétiques et tous ceux qui font attention à leur ligne !</li>
        <li>
          <span class="text-_main_color_light font-bold">Nos boissons et encas sont 100 % clean,</span>
          chez nous, c’est carré ! sans colorant, sans arômes artificiels, sans conservateurs,
        </li>
        <li>
          <span class="text-_main_color_light font-bold">Nous sommes transparents sur l’origine de nos ingrédients,</span>
          sourcés en France. Nous travaillons en étroite collaboration avec nos fournisseurs pour garantir la traçabilité de nos ingrédients et assurer des normes élevées d’hygiène et de production (selon la norme HACCP, on ne plaisante pas sur ces choses-là !)</li>
      </ul>
    </p>

    <h4 class="font-bold text-lg my-4 underline text-_main_color_dark">BahWai s’engage pour l’environnement !</h4>
    <p class="">
      <ul class="flex flex-col gap-2 list-disc md:mx-10">
        <li>
          <span class="text-_main_color_light font-bold">BahWai en faveur d’un monde plus propre :
          </span>
          nos emballages sont recyclables à l’infini (et au-delà) pour contribuer à réduire les déchets et à préserver nos ressources naturelles.
        </li>
        <li>
          <span class="text-_main_color_light font-bold">BahWai soutient l'environnement :
          </span>
          nous allons chercher nos ingrédients au plus proche de chez nous, en France, pour réduire au maximum notre empreinte carbone. Nous sélectionnons nos partenaires producteurs uniquement parmi ceux qui cultivent dans le respect d’une démarche écoresponsable et durable. On n'a qu’une seule planète, prenons en soin !
        </li>
      </ul>
    </p>

    <h4 class="font-bold text-lg my-4 underline text-_main_color_dark">BahWai s’engage aussi pour ton porte-monnaie !</h4>
    <p class="">
      <ul class="flex flex-col gap-2 list-disc md:mx-10">
        <li>
          <span class="text-_main_color_light font-bold">Abonné BahWai ?
          </span>
          tu fais parti de la famille, alors pour toi c’est - 20 % toute l’année
        </li>
        <li>
          <span class="text-_main_color_light font-bold">Tu es étudiant ?
          </span>
          allez, on te rince aussi avec une réduction permanente de - 20 %, BahWai, on sait ce que c’est 😂
        </li>
      </ul>
    </p>

    <p class="my-8">Rejoignez-nous dans cette aventure et découvrez une nouvelle façon de vous régaler, en prenant soin de vous !
    </p>
  </div>



  <div class="flex flex-col items-center mb-8">
    <a href="{{ collections.all.url }}" class="btn mb-4">Voir nos produits</a>
  </div>
</section>

<div class="rte">
  {{ page.content }}
</div>

{% schema %}
  {
    "name": "main-engagement",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}