.pagination-wrapper {
  margin-top: 3rem;
}

/* @media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
} */

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  /* max-width: 4.4rem; */
  max-width: 42px;
}
.pagination__list li:first-child, .pagination__list li:last-child{
  max-width: 50px;
}

/* .pagination__list > li:not(:last-child) {
  margin-right: 1rem;
} */

.pagination__item {
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border: 1px solid #E6EDF5;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

/* .pagination__item--current::after {
  height: 0.1rem;
} */

.pagination__item--current{
  background-color: #FF3131;
  color: white;
}

/* .pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
} */
.pagination__item--next{
  border-radius: 5px 0 0 5px;
}
.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev{
  border-radius: 0 5px 5px 0;
}
.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
