/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/poetsen-one');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Comic Sans MS', system-ui, sans-serif;
  }
}
body {
  font-family: 'Comic Sans MS', system-ui, sans-serif;
  @apply bg-_main_color_light;
  /* overflow-x: hidden !important; */
}
svg{
  display: inline-block !important;
}
:root {
  --main-color-light: #561195;
  --main-color-dark: #240343;
  --orange-color: #ff7925;
  --red-color: #ea4038;
}


/* header */
.nav-link-header{
  @apply border-2 border-white px-3 py-2 text-white rounded-md;
}
.nav-link-header.active{
  @apply bg-_red_color border-_red_color ;
}

.hover-nav-item {
  @apply transition-all duration-200 hover:text-red-600;
}

.desktop-width {
  @apply max-w-[1440px];
}
.btn {
  @apply font-normal block outline-none bg-_orange_color text-white text-center rounded-md w-[224px] h-[44px] pt-[10px];
  box-shadow: 1px 4px 8px -3px black;
}
.btn-red {
  @apply font-normal block outline-none bg-_red_color text-white text-center rounded-md w-[224px] h-[44px] pt-[10px];
  box-shadow: 1px 4px 8px -3px black;
}
.btn-secondaire {
  @apply font-semibold block outline-none bg-white text-_main_color_dark text-center rounded-lg w-[224px] h-[44px] pt-[10px];
  box-shadow: 1px 4px 8px -3px black;
}
.btn-cat{
  @apply btn;
  width: 199px !important;
  box-shadow: 1px 1px 6px -3px #000;
}
/* .btn-cat {
  @apply rounded-lg outline-none bg-_orange_color;
} */

.cats-hover {
  @apply border-b-4 border-transparent pb-[5px] transition-all duration-300;
}

.scroll-nav-cats {
  @apply max-w-[50rem] sm:max-w-none w-full sm:overflow-x-scroll overflow-y-hidden hide-scrolbar-x flex justify-center;
}
.img-center {
  @apply bg-center bg-cover;
}
.img-cat-size {
  @apply w-[35rem] h-[18rem];
}
.align-justify-center {
  @apply items-center justify-center;
}
.input {
  @apply text-sm outline-none ps-2 h-[3rem] w-full border border-[#999] mt-2 rounded-md text-[#456073];
}
.input::placeholder, textarea::placeholder{
  @apply text-[#456073]
}
.title {
  @apply font-litle text-_main_color_dark sm:text-[32px] text-[24px] text-center font-extrabold uppercase;
}
.title-white {
  @apply font-litle text-white sm:text-[32px] text-[28px] text-center font-normal;
}
.faq-link {
  @apply text-center w-[10rem] h-[70px] rounded-md flex items-center justify-center bg-_main_color_light hover:bg-_orange_color transition-all duration-500;
}
.btn-accordion-header {
  @apply text-start pe-2 ps-4 font-bold text-[1.2rem] flex justify-between w-full;
}
.search-section {
  @apply fixed top-0 z-50 w-full h-full max-h-full overflow-x-hidden overflow-y-scroll hide-scrolbar-y;
}
.btn-etre-prevenu {
  @apply hover:cursor-pointer hover:text-_red_color mb-4 text-white font-bold text-center border-b-2 border-white w-full;
}
.star-empty {
  @apply text-white;
}
.panier-count {
  @apply absolute top-[-11px] left-[6px] flex justify-center items-center text-xs text-white rounded-full bg-_orange_color w-[1.2rem] h-[1.2rem];
}
.ul-engagements {
  @apply border border-[#9999] p-2 rounded-md sm:max-w-[50%] w-full list-disc list-inside;
}

.div-engagements {
  @apply border border-[#9999] p-2 rounded-md sm:max-w-[50%] w-full;
}
.titre-engagements {
  @apply mt-4 mb-5 text-2xl font-bold text-center underline text-_main_color_dark;
}

#img_show_up img {
  width: 100%;
}

/* home page */
#img-chocolat{
  background-image: url("chocolat-long.png");
  height: 200px;
  width: 100%;
}
.cat-item{
  @apply sm:w-[345px] w-full flex flex-col justify-start sm:ps-[24px] ps-4 sm:pb-[34px] pb-[21px] pt-[44px] rounded-lg;
}
.btn-aventure{
  @apply flex justify-center gap-2 font-bold sm:w-[275px] w-[175px] bg-_red_color rounded-lg py-3 ;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.input-map-section{
  @apply w-full bg-transparent border-2 border-white rounded-lg ps-3 py-3;
}
.input-map-section::placeholder{
  color: white;
}
.accordion-item{
  @apply pb-1;
}

/* css one page  */
.foot-one-page .foot-item{
  @apply flex flex-col gap-4;
}

/*  style for promo code prooduct */
#promo-price{
  @apply font-medium line-through text-_main_color_dark;
}



/* swiper */
.swiper-button-next::after {
  font-size: 21px !important;
  background-color: var(--red-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.swiper-button-prev::after {
  font-size: 24px !important;
  background-color: var(--red-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.swiper-slide {
  padding: 10px;
}
.nouveautes-content .swiper-slide a {
  transition: all 0.4s;
}
.nouveautes-content .swiper-slide a:hover {
  box-shadow: 0px 0px 17px -13px var(--main-color-dark);
}

@media screen and (max-width: 640px) {
  #swiper-avis {
    padding: 1rem !important;
  }
  .swiper .navigation {
    display: none !important;
  }
}

/* mixins */
.hide-scrolbar-x {
  scrollbar-width: none;
}
.hide-scrolbar-x::-webkit-scrollbar {
  height: 0px;
}
.hide-scrolbar-y {
  scrollbar-width: none;
}
.hide-scrolbar-y::-webkit-scrollbar {
  width: 0px;
}

.scrolbar-thin::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.scrolbar-thin::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: 10px;
}
/* Handle */
.scrolbar-thin::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.802);
  border-radius: 10px;
}
/* Handle on hover */
/* .scrolbar-thin::-webkit-scrollbar-thumb:hover {
  /* background: white;  
} 
*/
/* firefox */
.scrolbar-thin {
  scrollbar-color: rgba(
    110,
    110,
    110,
    0.802
  ); /* ascensseur bleu sur fond blanc */
  scrollbar-width: 5px;
}

/* imgs rejoignez-nous page */
#imgs-index img {
  border-radius: 8px;
  height: 130px !important;
}

/* -------------------------- */
.cats-navigation span.active {
  border-bottom: 3px solid var(--red-color);
}
/* // */
#form-etre-prevenu .form-item {
  width: 20rem;
}

/* accordions */
#btn-accordion.active > i {
  transition: all 0.4s;
}
#btn-accordion.active > i {
  transform: rotate(180deg);
}

/* FAQ section */
#faq-links a.active {
  background-color: var(--orange-color) !important;
  box-shadow: 1px 4px 8px -3px black;
}
/* avis section */
.avis-item {
  background-color: #f8f9f9 !important;
}

/* connexion page */
#eye-password, #eye-slash-password {
  top: 44px;
  right: 10px;
}

/* inscription page */
.panel-selected li {
  cursor: pointer;
  padding: 6px;
  border: 1px solid rgba(107, 114, 128, 0.814);
  transition: all 0.4s;
}
.panel-selected li:hover,
.panel-selected li.selected {
  color: var(--red-color) !important;
}

/* checkbox style */
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  box-shadow: 0 0 2px 0px var(--red-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.checkbox:checked {
  background-color: var(--red-color);
}
.filter-item i {
  position: absolute;
  top: 2px;
  left: 4px;
  color: white;
  cursor: pointer;
}
.checkbox-round {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  border: 1px solid #999999;
  box-shadow: 0px 0px 0px 2px white inset;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.checkbox-round:checked {
  background-color: var(--main-color-light);
}
@media screen and (max-width: 650px) {
  .checkbox-round {
    box-shadow: 0px 0px 0px 2px var(--orange-color) inset;
    border: 1px solid var(--main-color-light);
  }
  .checkbox-round:checked {
    background-color: white;
    border-color: white;
  }
  .checkbox-round:checked + label {
    color: white;
  }
  /* produit section */
  .main-prod .footer .right {
    margin: 0 1rem;
  }
}
@media screen and (max-width: 1340px) {
  /* produit section */
  .main-prod .footer .right {
    margin: auto;
  }
  .main-prod .footer .left {
    margin: auto;
  }
}

/* produit section */
#input-produit::-webkit-outer-spin-button,
#input-produit::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#input-produit {
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: transparent;
}
#up {
  font-weight: 600;
  border: 1px solid var(--main-color-dark);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: white;
  background-color: var(--main-color-dark);
}
#down {
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: white;
}
.btn-red-panier {
  @apply border-_red_color bg-_red_color;
  font-weight: 600;
  border-radius: 5px;
  color: white;
}
.btn-white-panier {
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}
#produit-ul-desc li {
  list-style-type: disc;
}
#shadow-hide-text{
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), gray); */
  box-shadow: 0 -7px 6px 8px #fefefe;

}

/* classes for hide text feat */
.height-hide-text{
  height: 360px;
  overflow: hidden;
}

/* css section review app */

.wc_review_top_title,
.wc_review_count,
.wc_average_review_stars,
.wc_review_listing_select,
.wc_review_graph,
.wc_tab_links.wc_wf_cls,
.wc_grid_social_sharing.wc_wf_cls,
.wc_review_form_btns ul li:last-child,
.wc_review_form_ctm_image,
.wc_review_form_recommend_product
{
  display: none !important;
}
.wc_review_main_content{
  @apply !px-[47px] !py-0 !font-poppins mb-[80px];
}
.wc_overall_review.wc_review_layout_1, .wc_review_layout_section.wc_wf_cls{
  @apply bg-_main_color_dark;
}
.wc_overall_review.wc_review_layout_1{
  margin-top: -1px;
  margin-bottom: -1px;
}
.wc_review_layout_section.wc_wf_cls{
  @apply rounded-b-lg;
}
.wc_overall_review{
  @apply !font-poppins;
  border: none !important;
  display: flex;
  justify-content: center;
  padding: 0 0 !important;
}
.wc_review_layout_section.wc_wf_cls{
  @apply !font-poppins;
}

.wc_review_form_btns ul{
  float: none !important;
  @apply !flex justify-center !bg-_main_color_dark;
}
.wc_review_form_btns ul li{
  min-width: 100%;
}
.wc_review_main_content a, .wc_review_submit_btn.wc_review_btn{
  @apply !bg-_red_color !rounded-[7px] !py-4 !w-[195px] !font-poppins font-semibold !text-base;
}
.wc_grid_main_section{
  @apply !bg-white !rounded-lg;
}
.wc_review_author_name, .wc_review_date{
  @apply !text-xs !text-[#474747];
}
.wc_review_layout_section ul.wc_grid_review_main_ul{
  margin: 0 !important;
}
.review_rating_section.needsclick label{
  padding-right: 5px !important;
}
.wc_empty_review_text p{
  @apply !text-white text-lg text-center;
}

/* modal form review */
.wc_form_container.wc_wf_cls{
  @apply !font-poppins;
}
.wc_review_form_submit.wc_wf_cls{
  @apply flex justify-center;
}
#wc_product_review_form_popup .wc_form_container{
  @apply hide-scrolbar-y;
}
#wc_submit_review label, #wc_submit_review textarea::placeholder, #wc_submit_review input::placeholder{
  @apply !text-[#456073];
}
#wc_submit_review label{
  padding-bottom: 14px !important;
}
#wc_product_review_form_popup .wc_review_form_filed .wc_input_filed{
  padding: 15px 12px !important;
}
#wc_product_review_form_popup .wc_review_btn{
  margin-top: 24px !important;
}
#wc_product_review_form_popup .wc_review_form_filed{
  padding-bottom: 24px !important;
}

/* carousel reviews */
.swiper-button-prev, .swiper-button-next{
  background: transparent !important;
}
.swiper-button-prev svg, .swiper-button-next svg{
  @apply !h-0 !w-0;
}
.wc_review_main_content .slider-btn, .wc_testimonial_section .slider-btn{
  top: 65% !important;
}
#wc_reviews_tab{
  @apply sm:px-[10rem] px-[20px];
}



/* footer */
footer a {
  transition: all 0.4s;
}
footer a:hover {
  color: var(--orange-color);
}
footer .items li {
  margin-bottom: 3px;
}

#input-contact::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
#input-contact:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

#input-contact-popup::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}
#input-contact-popup:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}
#input-popup-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main-color-dark);
  font-size: 16px;
  font-weight: bold;
}
#input-popup-search::placeholder {
  color: var(--main-color-dark);
  font-size: 16px;
  opacity: 1; /* Firefox */
  font-weight: bold;
}

@media screen and (min-width: 1440px) {
  .desktop-width {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* mobile size */
@media screen and (max-width: 720px) {
  .height-hide-text{
    height: 192px;
  }
  /* responsive review carousel */
  .wc_review_main_content{
    @apply !px-[14px];
  }
}

/* footer */
@media screen and (max-width: 770px) {
  .height-hide-text{
    height: 360px;
  }
  #items-footer {
    flex-direction: column !important;
  }
  #logo-footer {
    max-width: none;
    width: 100%;
    justify-content: center;
  }

  /* categories */
  section.categories {
    margin: 3rem 1rem !important;
  }
}

/* newsletter section */
@media screen and (max-width: 322px) {
  
  #form-etre-prevenu .form-item {
    width: 100% !important;
  }
  #form-etre-prevenu {
    padding: 0px 1rem;
  }
}
/* actualites page */
#nav-actualites a.active {
  border-bottom: 3px solid var(--red-color);
}

/* compte page */
table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #999; /* this draws the table border  */
}

thead {
  border-bottom: 1px solid #999;
}
thead td {
  @apply !font-normal py-[10px] px-[15px] text-center;
}
thead td:last-child {
  padding-right: 30px;
}
tbody td {
  @apply pb-[22px] text-center;
}
tbody tr td:last-child {
  padding-right: 30px;
}
tbody tr:first-child td {
  @apply pt-6;
}
tbody tr:last-child td {
  @apply pb-6;
}
.vert {
  @apply text-[#3F8F00];
}
.red {
  @apply text-[#EA4038];
}
.inactive {
  @apply text-[#999];
}
.command {
  @apply p-1 border border-[#999] shadow rounded-md text-[#3F8F00];
}

/* addresse compte page */
.address-shadow {
  box-shadow: 0px 5px 10px -6px black;
}

#phrase {
  @apply mt-3 text-_main_color_dark;
}

.single-option-selector {
  width: 18rem;
  border: 2px solid;
  margin-bottom: 20px;
}

/* marquee feat bihavior */
.marquee-scroll{
  width: 180rem;
}
.marquee-scroll div{
  animation: scroll 13s linear;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-90%);
  }
}
