/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Poppins', system-ui, sans-serif;
    }
}
body{
  font-family: 'Poppins', system-ui, sans-serif;
}
:root{
  --main-color-light: #561195;
  --main-color-dark: #240343;
  --orange-color: #FF7925;
  --red-color: #EA4038;
}
/* header */
.hover-nav-item{  
    @apply hover:text-red-600 transition-all duration-200;
}

.desktop-width{
  @apply max-w-[1440px];
}
.btn{
  @apply font-semibold block outline-none bg-_red_color text-white text-center rounded-lg w-[224px] h-[44px] pt-[10px];
  box-shadow: 1px 4px 8px -3px black;
}
.btn-cat{
  @apply outline-none bg-_orange_color rounded-lg;
}

.cats-hover{
  @apply border-b-4 border-transparent pb-[5px] transition-all duration-300;
}

.scroll-nav-cats{
  @apply max-w-[50rem] sm:max-w-none w-full sm:overflow-x-scroll overflow-y-hidden hide-scrolbar-x flex justify-center;
}
.img-center{
  @apply bg-center bg-cover ;
}
.img-cat-size{
  @apply w-[35rem] h-[18rem];
}
.align-justify-center{
  @apply items-center justify-center;
}
.input{
  @apply outline-none ps-2 h-10 w-full border border-[#999] ;
} 
.title{
  @apply font-litle text-_main_color_light text-[32px] text-center;
}
.title-white{
  @apply font-litle text-white sm:text-[32px] text-[28px] text-center;
}
.faq-link{
  @apply text-center w-[10rem] h-[70px] rounded-md flex items-center justify-center bg-_red_color hover:bg-_orange_color transition-all duration-500;
}
.btn-accordion-header{
  @apply text-start pe-2 ps-4 font-bold text-[1.2rem] flex justify-between w-full; 
}
.search-section{
  @apply max-h-full h-full overflow-x-hidden overflow-y-scroll hide-scrolbar-y fixed top-0 z-50 w-full;
}
.btn-etre-prevenu{
  @apply hover:cursor-pointer mb-4 sm:text-sm text-_main_color_dark font-bold text-center border-b-2 border-_red_color w-[21rem] sm:text-[12px] text-[10px] sm:w-[24rem] m-auto;
}
.star-empty{
  @apply text-white;
}

/* header */


/* swiper */
.swiper-button-next::after{
  font-size: 21px !important;
  background-color: var(--red-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.swiper-button-prev::after{
  font-size: 21px !important;
  background-color: var(--red-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}
.swiper-slide{
  padding: 10px;
}
.nouveautes-content .swiper-slide a{
  transition: all .4s;
}
.nouveautes-content .swiper-slide a:hover{
  box-shadow: 0px 0px 17px -13px var(--main-color-dark);
}


@media screen and (max-width: 640px) {
  #swiper-avis{
    padding: 1rem !important;
  }
  .swiper .navigation{
    display: none !important;
  }
}

/* mixins */
.hide-scrolbar-x{
  scrollbar-width: none;
}
.hide-scrolbar-x::-webkit-scrollbar {
  height: 0px;
}
.hide-scrolbar-y{
  scrollbar-width: none;
}
.hide-scrolbar-y::-webkit-scrollbar {
  width: 0px;
}

.scrolbar-thin::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.scrolbar-thin::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: 10px;
}
/* Handle */
.scrolbar-thin::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.802); 
  border-radius: 10px;
}
/* Handle on hover */
/* .scrolbar-thin::-webkit-scrollbar-thumb:hover {
  /* background: white;  
} 
*/
/* firefox */
.scrolbar-thin{
  scrollbar-color: rgba(110, 110, 110, 0.802); /* ascensseur bleu sur fond blanc */
  scrollbar-width: 5px;
}

/* imgs rejoignez-nous page */
#imgs-index img{
  border-radius: 8px;
  height: 130px !important;
}

/* css reviews feat */
#shopify-product-reviews fieldset div{
  width: 100% !important;
}
.spr-container{
  border: none !important;
}
.spr-header-title{
  display: none !important;
}
.spr-form-contact{
  display: flex;
  justify-content: space-around;
}
div.spr-form {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  border: none !important;
}
div.spr-form form textarea{
  outline: none;
  border: 2px solid #999999 ;
  padding-left: 6px;
}
div.spr-form form input{
  height: 2.5rem;
  outline: none;
  border: 2px solid #999999 ;
  padding-left: 6px;
}
fieldset.spr-form-contact, div.spr-starrating, .spr-form-review-title {
  margin-bottom: 1rem !important;
}
div.spr-starrating .spr-icon-star-empty:before{
  color: var(--main-color-dark) !important;
}
div.spr-starrating .spr-icon-star:before{
  color: var(--main-color-dark) !important;
}
div.spr-starrating .spr-icon-star-hover:before{
  color: var(--main-color-dark) !important;
}
div.spr-starrating  .spr-icon.spr-icon-star-empty {
  opacity: 1 !important;
}
.spr-form-review-body{
  margin: 2rem 0 !important;
}
.spr-form-contact-name{
  margin-right: 1.2rem !important;
}
.spr-form-contact-email{
  margin-left: 1.2rem !important;
}
fieldset.spr-form-actions{
  display: flex;
  justify-content: center;
}
fieldset.spr-form-actions input{
  height: 44px !important;
  width: 224px;
  font-weight: 600;
  border: 1px solid var(--red-color) !important;
  border-radius: 5px;
  color: white;
  background-color: var(--red-color);
  padding: 0 !important;
}
div.spr-form-review-body label{
  display: none;
}
div.spr-summary-starrating{
  display: none !important;
}
#prod-stars-container svg{
  margin-right: 3px;
  width: 20px !important;
  height: 20px !important;
}

/* reviews list css */
div.spr-review-header{
  @apply text-_main_color_dark;
}
div.spr-review-header i{
  margin-right: 3px;
}
div.spr-review-header i::before{
  color: var(--main-color-dark) !important;
}
div.spr-review-header .spr-review-header-byline strong, div.spr-review-header h3, div.spr-review-header .spr-review-header-byline{
  @apply font-medium text-_main_color_dark;
  font-style: normal;
}
div.spr-review-content p{
  @apply text-_main_color_dark text-sm;
}
div.spr-review-footer a{
  @apply text-_main_color_dark;
}
div.spr-header .spr-summary{
  @apply mt-4 mb-4;
}
div.spr-header a.spr-summary-actions-newreview{
  @apply border-b-2  border-_main_color_dark font-medium text-sm max-w-[13rem] w-full text-center ;
}
div.spr-summary .spr-starrating, div.spr-summary .spr-summary-caption{
  display: none;
}

/* @media screen and (max-width: 641px) {
  div.spr-header a.spr-summary-actions-newreview{
    /* @apply !float-none mx-auto; 
  }
  
} */


/* -------------------------- */
.cats-navigation span.active{
  border-bottom: 3px solid var(--red-color);
}
/* // */
#form-etre-prevenu .form-item{
  width: 20rem;
}

/* accordions */
#btn-accordion.active > i{
  transform: rotate(180deg);
}

/* FAQ section */
#faq-links a.active{
  background-color: var(--orange-color) !important;
  box-shadow: 1px 4px 8px -3px black;
}
/* avis section */
.avis-item{
  background-color: #f8f9f9 !important;
}

/* connexion page */
#eye-password{
  top: 10px;
  right: 10px;
}
 
/* inscription page */
.panel-selected li{
  cursor: pointer;
  padding: 6px;
  border: 1px solid rgba(107, 114, 128, 0.814);
  transition: all .4s;
}
.panel-selected li:hover, .panel-selected li.selected{
  color: var(--red-color) !important;
}

/* checkbox style */
.checkbox{
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  box-shadow: 0 0 2px 0px var(--red-color);
  cursor: pointer;
  transition: all .2s ease-in;
}
.checkbox:checked{
  background-color: var(--red-color);
}
.filter-item i{
  position: absolute;
  top: 2px;
  left: 4px;
  color: white;
  cursor: pointer;
}
.checkbox-round{
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  border: 1px solid #999999;
  box-shadow: 0px 0px 0px 2px white inset;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in;
}
.checkbox-round:checked{
  background-color: var(--main-color-light);
}
@media screen and (max-width: 650px){
  .checkbox-round{
    box-shadow: 0px 0px 0px 2px var(--orange-color) inset;
    border: 1px solid var(--main-color-light);
  }
  .checkbox-round:checked{
    background-color: white;
    border-color: white;
  }
  .checkbox-round:checked + label{
    color: white;
  }
  /* produit section */
  .main-prod .footer .right{
    margin: 0 1rem;
  }
}
@media screen and (max-width: 1340px){
  /* produit section */
  .main-prod .footer .right{
    margin: auto;
  }
  .main-prod .footer .left{
    margin: auto;
  }
}

/* produit section */
#input-produit::-webkit-outer-spin-button,
#input-produit::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#input-produit{
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color-dark);
}
#up{
  font-weight: 600;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: white;
  background-color: var(--red-color);
}
#down{
  font-weight: 600;
  border: 1px solid var(--main-color-dark);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  color: var(--main-color-light);
}
.btn-red-panier{
  font-weight: 600;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  color: white;
  background-color: var(--red-color);
}
.btn-white-panier{
  font-weight: 600;
  border: 1px solid var(--red-color);
  border-radius: 5px;
  color: var(--main-color-dark);
  margin-top: 10px;
}
#produit-ul-desc li{
  list-style-type: disc;
}

/* footer */
footer a{
  transition: all .4s;
}
footer a:hover{
  color: var(--orange-color);
}
footer .items li{
  margin-bottom: 3px; 
}

#input-contact::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
#input-contact:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

#input-popup-search::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--main-color-dark);
  font-size: 16px;
  font-weight: bold;
}
#input-popup-search::placeholder{
  color: var(--main-color-dark);
  font-size: 16px;
  opacity: 1; /* Firefox */
  font-weight: bold;
}


@media screen and (min-width: 1440px) {
  .desktop-width{
    margin-left: auto !important;
    margin-right: auto !important;
  }
} 

/* footer */
@media screen and (max-width: 770px) {
  #items-footer{
    flex-direction: column !important;
  }
  #logo-footer{
    max-width: none;
    width: 100%;
    justify-content: center;
  }

  /* categories */
  section.categories{
    margin: 3rem 1rem !important;
  }
}

/* newsletter section */
@media screen and (max-width: 322px){
  #btn-etre-prevenu{
    width: 11rem !important;
  }
  #form-etre-prevenu .form-item {
    width: 100% !important;
  }
  #form-etre-prevenu{
    padding: 0px 1rem;
  }
}
/* actualites page */
#nav-actualites a.active{
  border-bottom: 3px solid var(--red-color); 
}

/* compte page */
table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #999; /* this draws the table border  */ 
}

thead{
  border-bottom: 1px solid #999;
}
thead td{
  @apply !font-normal py-[10px] px-[15px] text-center;
}
thead td:last-child{
  padding-right: 30px;
}
tbody td{
  @apply pb-[22px] text-center;
}
tbody tr td:last-child{
  padding-right: 30px;
}
tbody tr:first-child td{
  @apply pt-6;
}
tbody tr:last-child td{
  @apply pb-6;
}
.vert{
  @apply text-[#3F8F00];
}
.red{
  @apply text-[#EA4038];
}
.inactive{
  @apply text-[#999];
}
.command{
  @apply p-1 border border-[#999] shadow rounded-md text-[#3F8F00];
}

/* addresse compte page */
.address-shadow{
  box-shadow: 0px 5px 10px -6px black;
}

